[2017-07-05 23:45] davidhu2000 opened #1 "RotateLoader size"
at larger size, the circles are squashed together.

[2017-08-04 19:21] danalloway opened #2 "vertical align"
need a way to get the `vertical-align` style property on the `ClipLoader`.
Halogen had it and it allowed me to center the loader inline with text on a Button element.

having a way to pass-thru style or className would be helpful, or something to that extent, or when  hard-coding an inline display on an element, providing a prop to tweak the verticalAlign

thank you for your work!

[2017-08-06 15:23] danalloway commented on #2
PR for one way we could approach this #3

[2017-08-10 07:10] bondsua opened #4 "Wrong prop type in SyncLoader"
in file SyncLoader.jsx on line 99 wrong margin prop type. Current - string, expected - number (which have in documentation and other components).

[2017-08-12 23:04] davidhu2000 commented on #4
@bondsua, thank you for reporting this error. This issue is fixed in v0.0.30.

[2017-08-12 23:04] #4 closed

[2017-08-18 16:27] GuillaumeCisco opened #5 "Server Side rendering and domkit dependency"
Hello,

Using domkit prevents react-spinners to be used with Server side rendering technics, as domkit needs the document javascript global which is not present on the server.
Should it be possible to get rid of domkit ?

[2017-08-20 23:45] davidhu2000 commented on #5
I agree that domkit has these limitations. However, I have yet to find a good alternative. Do you have any suggestions?

[2017-08-21 14:05] saeedjalali1 commented on #5
1+

[2017-08-22 07:35] GuillaumeCisco commented on #5
Don't use domkit?
Just inlined css?

[2017-08-22 21:07] GuillaumeCisco commented on #5
I was looking about https://github.com/tkh44/emotion, I'm messing around with it. Seems an excellent alternative.

[2017-08-29 14:22] GuillaumeCisco commented on #5
I've come with two ways to do it correctly.
Take for example the code for the pulseLoader (115 lines of codes) : https://github.com/davidhu2000/react-spinners/blob/master/src/spinners/PulseLoader.jsx

You achieve SSR support without third parties libraries with this code (67 loc):
[code]

Or with emotion, I suggest would be clearly better as it supports SSR by philosophy (53 loc):
[code]

Thoughts

[2017-08-29 15:12] GuillaumeCisco commented on #5
I've just created the equivalent for the `barLoader`:
[code]

Maybe I'll create a repo with all the updated spinners for supporting SSR using emotion.

[2017-08-29 16:23] davidhu2000 commented on #5
@GuillaumeCisco thank you very much. I will take a closer look when I get a chance, but this looks very promising.

[2017-08-31 14:16] GuillaumeCisco commented on #5
Hey @davidhu2000, I've just ported every loader with emotion for supporting SSR.
You can check the PR here https://github.com/davidhu2000/react-spinners/pull/6
Only problem, it does not pass test because of flow, and I need help about this.

I'd be happy to discuss about it.

[2017-09-04 00:15] hdngr commented on #5
Hey guys - quick fix on this - either use my fork of domkit as dependency: https://github.com/hdngr/domkit

Or get this PR merged https://github.com/yuanyan/domkit/pull/7

Thanks!

[2017-09-04 04:02] davidhu2000 commented on #5
@hdngr, thanks for the suggestion. we are currently looking to replace `domkit` with `emotion`, but I will keep your comment as a possible option.

[2017-09-13 20:55] isaachinman commented on #5
Just wanted to say I came across this SSR-breakage and will be moving along from the project. People use React in a server environment extremely frequently these days.

[2017-09-13 21:13] davidhu2000 commented on #5
@isaachinman, we have a PR #6 open to fix SSR, I've been a little busy lately, but I will be reviewing it soon.

[2017-09-15 07:36] GuillaumeCisco commented on #5
Hey @davidhu2000, it would be great if you could review it asap.
We are already using it in production in our company ;)

I think the README should be updated for letting people know the babel plugin emotion need to be added to the .babelrc file (or the overrided plugins in the webpack configuration).
@isaachinman I'm curious to know how you figured it out. Can you please share it with us.

[2017-09-15 11:42] JagdishUpadhyay opened #7 "Warning in using FadeLoader."
Failed prop type: Invalid prop `margin` of type `string` supplied to `Loader`, expected `number`.

[2017-09-15 15:08] isaachinman commented on #5
@GuillaumeCisco I didn't, I very quickly did an `npm uninstall`. A CSS loader shouldn't break SSR! Sounds like it'll be fixed soon.

[2017-09-15 16:15] davidhu2000 commented on #5
@GuillaumeCisco absolutely, I will get to it this weekend.

Just out of curiosity, how would you guys test the SSR? I don't have a lot of experiences with it. I know you can create a webpack config for SSR.

[2017-09-15 16:17] isaachinman commented on #5
@davidhu2000 Try to compile your React tree to a string (for example) in a Node environment. If my understanding is correct, you've elected to use a CSS-in-JS solution that directly references the document (which doesn't exist in SSR). Just find a CSS solution that works in SSR.

[2017-09-17 15:53] GuillaumeCisco commented on #7
Will be soon fixed when PR #6 will be merged ;)

[2017-09-17 16:08] davidhu2000 commented on #5
SSR is fixed via #6

[2017-09-17 16:08] davidhu2000 commented on #7
#6 is merged, so this issue is resolved.

[2017-09-17 16:08] #7 closed

[2017-09-17 16:10] davidhu2000 commented on #5
@GuillaumeCisco #6 has been merged and published to npm as `v0.1.0`. Can you also verify that SSR works properly?

[2017-09-17 16:21] davidhu2000 opened #8 "Fix devDependencies out of date issue"
Currently, some `devDependencies` are outdated, need to bring them up-to-date.

[2017-09-17 16:22] GuillaumeCisco commented on #5
@davidhu2000 yep it works perfectly thanks to emotion.
As I said before I'm using this code in production with SSR :)
You can also test it with the redux first router demo: https://github.com/faceyspacey/redux-first-router-demo

Thnaks!

[2017-09-17 16:24] davidhu2000 commented on #5
@GuillaumeCisco perfect. I just want someone to verify as well. I tested SSR locally and it was working perfectly.

Great, closing this issue.

[2017-09-17 16:24] #5 closed

[2017-09-17 16:37] GuillaumeCisco commented on #5
Great @davidhu2000 !
I think one last thing is to update the README. Margin is now a string.
Also, feel free to add me as a contributor of this lib. A lot of code has been refactored.

[2017-09-17 16:50] davidhu2000 commented on #5
@GuillaumeCisco readme is updated. And I added you to `contributors` in `package.json`. Thank you so much for your contributions.

[2017-09-18 05:51] JagdishUpadhyay commented on #7
Now, after updating this error is coming
Module not found: Error: Cannot resolve module 'recompose'

[2017-09-18 07:05] GuillaumeCisco commented on #7
Looks like the dependency `recompose` is missing here.
Did you install the very last version of react-spinners ? The package.json includes it.
If you want to quickly fix this issue, please run `npm install --save recompose`

[2017-09-18 07:51] JagdishUpadhyay commented on #7
I have installed the latest version(0.1.2). Yeah, package.json have recompose included. I don't know why it is not installing on my machine. BTW, I am using windows system.

[2017-09-22 11:16] mking opened #9 "recompose should be dependency,not devDependency"
example error:
[code]

[2017-09-22 11:24] guoyunhe commented on #9
I have the same error with BarLoader.

The temporary solution is to run `npm install recompose`.

[2017-09-22 14:33] davidhu2000 commented on #9
Thank you guys for catching this. The PR has been merged.

[2017-09-22 14:33] #9 closed

[2017-10-16 22:14] jcheroske opened #13 "Move 'emotion' package to full dependency"
Getting an error using any component that's dependent on the `emotion` package. I think it needs to be moved to a full dependency.

[2017-10-17 08:36] GuillaumeCisco commented on #13
What is the error?

[2017-10-17 17:36] jcheroske commented on #13
Wow, I wrote a horrible bug report! Sorry about that.

The error we're running into is a 'Package not found' error on the `emotion` package, when we try and use `react-spinners`. I looked at the transpiled code, and saw that the various spinners are requiring the `emotion` package, but when I checked `package.json`, I saw that it was only listed as a `devDependency`. Shouldn't it be a full `depend

[2017-10-18 09:23] GuillaumeCisco commented on #13
Hum, so, the moment you ran `npm install emotion@7.2.0`, it worked?

[2017-10-18 12:07] Pixelatex opened #14 "Breaks on the latest version of react."
I couldn't build my project anymore and after some digging, it seems like this module was the origin. Removing it instantly fixed everything, the strange thing is that this only occurred after I ran npm update. So it seems like your dev dependencies being outdated is causing some breaking issues.

[2017-10-18 17:05] jcheroske commented on #13
Yes, that's correct. Looking at your code, I'm really curious how the `emotion` import can work without it being a `dependency`:

`/src/spinners/BarLoader`
[code]

[2017-10-23 02:58] #13 closed

[2017-11-02 04:41] davidhu2000 commented on #14
Hi @Pixelatex, can you provide more details?

For example, what version of React were you using?

What version of `react-spinners` were you using?

Was there any deprecation warnings in the terminal output?

The earlier `0.1.x` versions were a little buggy.

I don't quite understand why devDependencies are causing issues since they should be installed in the development environment.

For example,

[2017-11-03 10:13] GiovanniFrigo commented on #14
I had a similar issue, and for me just installing the latest `prop-types` module fixed the issue.

Hope this can help you, @Pixelatex

[2017-11-04 17:04] davidhu2000 commented on #14
does this mean that `prop-types` need to be added as a dependency?

[2017-11-04 17:08] Pixelatex commented on #14
I think that you were relying on a now deprecated module feature which would explain why updating it breaks it. I can't recall what the issue was exactly but it was not something I could fix instantly so I had to drop your module from my project. I will try a test tomorrow and post the error if I can duplicate it again.

[2017-11-07 09:42] GiovanniFrigo commented on #14
yes I think so.

You're using it in the code (like [here](https://github.com/davidhu2000/react-spinners/blob/master/src/spinners/BarLoader.jsx#L2)) but the package is not referenced in package.json.

I think it should be a peerDependency just like `react` and `react-dom`

[2017-11-08 06:49] davidhu2000 commented on #14
looks like `prop-types` repo recommends that the package be added to dependencies. Will fix this

[2017-11-08 06:53] davidhu2000 commented on #14
This issue is fixed in `0.2.1`.

[2017-11-08 06:53] #14 closed

[2017-11-08 21:09] cpuzzo-lovepop opened #17 "Update peer dependencies to support React 16"

[2017-11-22 07:20] davidhu2000 commented on #8
fixed by #19

[2017-11-22 07:21] #8 closed

[2017-11-22 07:21] davidhu2000 commented on #17
fixed by #19

[2017-11-22 07:21] #17 closed

[2017-11-23 06:33] Slind14 opened #20 "Spinner broken, CSS styles missing in production"
Hi there,
I'm using meteor and when deploying to production some of the CSS styles are missing while they are all there in development. I assume that this is due to emotion's pre compiling the css. e.g. the `border-radius` from the RingLoader:

![](https://i.imgur.com/9Bag7I1.png)

Since this is a react library I am wondering: What is the reason for emotion?
According to this benchmark it is even

[2017-11-23 06:39] Slind14 commented on #20
oO this might be fixed, I'll test tomorrow.
https://github.com/davidhu2000/react-spinners/commit/648c2de6756fc56f6f97a791122cb5c5b331c2ff#diff-2ff1847bd31d2b5abae61ec6ba6db73c

Might I ask why emotion, still?

[2017-11-23 07:25] davidhu2000 commented on #20
#5 should offer some clarity. It was implemented to allow Server Side Rendering. It was suggested to me as a solution. I welcome any suggestions if you have a better on how to handle SSR.

[2017-11-23 21:28] Slind14 commented on #20
Ahh, I didn't think about this limitation. This can be worked around by creating/injecting a script block.
e.g. https://gist.github.com/yamadayuki/f1ea9ccacad7f1c140457b5877fb54cc
https://codepen.io/mosson/pen/zGENPx

[2017-12-01 20:50] davidhu2000 commented on #20
👍  closing this issue now

[2017-12-01 20:50] #20 closed

[2017-12-13 09:00] istratievladut opened #21 "MoonLoader visual rendering bug"
Hello,
I just updated the library from 0.0.30 to the last version and I noticed that the MoonLoader does not have the same animation and it seems to me like a bug.
Here is a screenshot with what I see.
<img width="203" alt="screen shot 2017-12-13 at 10 44 00" src="https://user-images.githubusercontent.com/25583466/33930087-6b5ccfc8-dff4-11e7-9c8d-7a97b62088ab.png">

This rectangle is just spinning

[2017-12-25 23:04] jobbogamer opened #22 "RotateLoader does not render"
**Do you want to request a feature or report a bug?**
Report a bug.

**If reporting a bug, what version of `react-spinners` are you currently using?**
0.2.5

**What is the current behavior?**
The `RotateLoader` does not render anything on the page and appears as an empty 0 x 0 element.

**If the current behavior is a bug, please provide the steps to reproduce**
[code]

[2017-12-25 23:05] jobbogamer commented on #22
The `RotateLoader` also does not render on the demo site.

[2017-12-27 16:06] davidhu2000 commented on #22
looks like whatever the issue is, it is affect a lot of loaders, going to revert the commit for now and investigate later.

[2017-12-27 16:13] davidhu2000 commented on #22
@jobbogamer can you try to use `v0.2.2` and see if you experience the same rendering issues?

[2017-12-27 17:01] jobbogamer commented on #22
@davidhu2000 I've just tried it out with v0.2.2 and I see the same behaviour, although I am using React 16.2 and it looks like versions of `react-spinners` before v0.2.3 were depending on React 15?

[2017-12-28 08:32] archansel opened #23 "Using only specific loader type without importing whole spinner"
Hi, is there any way to load only one specific loader without the whole spinner being bundled. Something like what `lodash` did, for example:
[code]

[2018-01-02 02:04] davidhu2000 commented on #22
@jobbogamer looks like it might be related to react 16.

I don't think there is anything strictly dependent on the react version, but using react 15 solves the render issue.

Will continue to investigate this.

[2018-01-09 14:38] audrium commented on #22
Same happened to me with the PacmanLoader after migrating to React 16. It doesn't work with version v0.2.2 either. It also does not render on the demo

[2018-01-28 08:02] davidhu2000 commented on #22
sorry, haven't had much time to work on this lately, but the issue seems to be related to react 16.

Switching back to React 15 fixed the render issue.

[2018-02-02 20:00] coderkd10 opened #24 "Radius does not work in ScaleLoader"
**Do you want to request a feature or report a bug?**
Bug

**If reporting a bug, what version of `react-spinners` are you currently using?**
0.2.5

**What is the current behavior?**
Providing `radius` prop in `ScaleLoader` does not have any effect.

**If the current behavior is a bug, please provide the steps to reproduce**
Create a `ScaleLoader` with `radius` prop = 2px. Can see that the bars don

[2018-02-02 20:03] coderkd10 commented on #24
I have created a fix for this bug (PR #25)

[2018-02-05 04:14] #24 closed

[2018-02-08 06:50] weitjong opened #26 "Feature request: render this.props.children instead of null when this.props.loading is false"
This is a feature request.

[2018-02-13 06:28] ThomasBem commented on #23
Would also be interested in this! Currently react-spinners is 9% of our small apps total bundle size.

Love the spinners though! RingLoader is awesome :)

[2018-03-15 12:41] brunobraga opened #27 "width 100%"
I'd like to set a BarLoader for example with width:100%.
Although it still works, the console throws the following error/warning message:
`Warning: Failed prop type: Invalid prop `width` of type `string` supplied to `Loader`, expected `number`.
    in Loader (created by onlyUpdateForKeys(Loader))`

Example:

`
<RingLoader
          width={'100%'}
          loading={this.state.loading}
        />
`

[2018-03-28 16:29] wesbos commented on #27
👍🏻 Please merge this

[2018-03-28 20:03] wesbos opened #29 "How do I apply my own CSS to a component?"
Currently the loader bar jumps when added to the page- I'd like to make it position absolute so it doesn't jump and re-flow the page. How do I do this?

[2018-04-04 06:09] #27 closed

[2018-04-04 06:19] davidhu2000 opened #30 "Emotion `composes` key deprecated"
**Do you want to request a feature or report a bug?**
bug

**If reporting a bug, what version of `react-spinners` are you currently using?**
N/A

**What is the current behavior?**
Some loaders do not render properly because the css uses `composes` key, which was deprecated in emotion 8. Need to resolve this.

**If the current behavior is a bug, please provide the steps to reproduce**

[2018-04-05 20:03] wesbos commented on #29
@davidhu2000 Any insight on how to do this?

[2018-04-08 23:31] davidhu2000 commented on #21
This is fixed in `v0.3.2`

[2018-04-08 23:31] #21 closed

[2018-04-08 23:31] davidhu2000 commented on #22
This is fixed in `v0.3.2`

[2018-04-08 23:31] #22 closed

[2018-04-08 23:31] davidhu2000 commented on #30
This is fixed in `v0.3.2`

[2018-04-08 23:31] #30 closed

[2018-04-11 11:23] alluster opened #31 "Changing "BarLoader" width from number to string to approve width="100%""
I would suggest changing "BarLoader" width from number to string to approve width="100%"

[2018-04-11 16:57] davidhu2000 commented on #31
there is the support to pass in a `widthUnit` prop. You can do

`<BarLoader width={100} widthUnit="%' />`

[2018-04-11 16:57] #31 closed

[2018-04-19 17:33] pwbrown opened #32 "Bug: Failing to disable loading by passing a Boolean "loading" prop"
# Bug: Failing to disable loading by passing a Boolean "loading" prop
## Version Used: 0.3.2

### Issue
I was previously using an older version of react-spinners, but I can confirm that the following behavior is also reflected on the current version.  The spinner I have been testing is the "BarLoader" and it was already accepted knowledge to me that the spinner was CPU intensive when it was displa

[2018-04-19 18:45] #1 closed

[2018-04-22 21:39] davidhu2000 commented on #23
@archansel @ThomasBem, I ran a quick test, looks you like can import just one.

`import BarLoader from 'react-spinners/dist/spinners/BarLoader';`

Trying to see how I can remove the `/dist/spinners` part`.

Can you guys give that a try and see if the bundle size is reduced?

[2018-04-29 14:41] U-4-E-A opened #33 "Error when recompose installed"
I have been using react-spinners@0.3.2 without issue.

I just installed recompose@0.27.0 and I got the following issue: -

ERROR in ./node_modules/recompose/es/Recompose.js
Module build failed: Error: ENOENT: no such file or directory, open C:\xampp\htdocs\newapp\app\node_modules\recompose\es\Recompose.js'
 @ ./node_modules/react-spinners/dist/spinners/BarLoader.js 3:4-93
 @ ./node_modules/react-s

[2018-05-02 23:45] davidhu2000 commented on #33
looks like devDependencies uses recompose@0.26.0. Can you try installing that version?

[2018-06-12 07:05] kweyhaupt opened #35 "Problem with Pacman size"
Hi,

Your spinners are awsome and fun ! I tried the PacmanSpinner and it's really cool but when you change the props 'Size' only the Pacman size change and not balls.

Is it a way to change the balls size ?

Regards,
Kévin

[2018-06-17 04:28] davidhu2000 commented on #26
@weitjong can you provide some use cases? I can't think of any use cases for this.

[2018-06-17 13:45] weitjong commented on #26
It has been some time already. I think the use case is something like this. I want to write:

[code]

instead of

[code]

Basically when the "loading" prop is false then the spinner component simply "goes away" and just renders the component's children in return (without needing to know what they actually are).

[2018-06-26 00:50] doppelgunner opened #36 "Problem with MoonLoader"
The whole body is rotating together with the little thing lol. please fix this I like the moon loader above all.
![Moonloader bug](https://i.imgur.com/4S8BhM5.gif)

[2018-06-26 01:03] davidhu2000 commented on #36
@doppelgunner can you provide more details? Like what version you are using?

Can you publish your `package.json`?

[2018-07-05 14:38] GuillaumeCisco commented on #36
@doppelgunner Looks like you have a css that is overridding your loader, try investigating on `position` css attributes on parents.

[2018-07-05 17:03] GuillaumeCisco commented on #26
@weitjong

You should write:
[code]

[2018-07-06 00:49] weitjong commented on #26
Yes, I could if the other child component is a single lone component. The above code is just an over simplification of my actual use case. The requested feature when accepted would allow me to nest children hierarchy just with plain XML. I could design the rendering for a whole page and when it takes too long to render, just wrap/nest the whole thing inside one of your component. A simple edit to

[2018-07-06 08:19] GuillaumeCisco commented on #26
@weitjong I think your case is not correct for wrapping.
Either you want a loading component, either a rendered content component. Using a parent wrapper as a loading component is a misunderstanding. Nothing has to live inside a loading component. It is not an HOC.

You can simply write things like that:
[code]

Or If you really want an HOC for loading, you can create your own:

[code]

[code]

[2018-07-06 09:48] weitjong commented on #26
From the point of user ability, I don’t think why not. Internally your component code already has an “if” check to determine whether to render a spinner or null. The request is simply to change the null to prop.children. It is backward compatible change. People that doesn’t like this could just use your component as it is now.

[2018-07-06 09:58] GuillaumeCisco commented on #26
@weitjong In fact, you are suggesting to introduce a future backward incompatible change. And a very bad practice.

[2018-07-06 10:15] weitjong commented on #26
Can you explain how it can introduce the so-called future backward incompatible change?

[2018-07-06 11:46] GuillaumeCisco commented on #26
@weitjong Using a wrapping interface, which is a bad practice in this case, will create a opinionated philosophy on this library which will include a future backward incompatible change.

[2018-07-15 05:30] SilencerWeb opened #38 "Option to disable annoying jump of ClipLoader"
**Do you want to request a feature or report a bug?**
Request a feature

It would be great if you add an option to disable annoying jump of ClipLoader

[2018-07-16 22:12] jacargentina opened #39 "widthUnit prop is not documented"
I've found about it (for giving 100% width to a BarLoader) by looking at the sources. Should be added to the Readme.md at least!

[2018-07-18 12:20] GuillaumeCisco commented on #38
Can you provide a project example for helping fixing this case please

[2018-07-20 17:32] Dman757 commented on #23
Figured I would chime in to confirm this worked on my end. I used `source-map-explorer` for a quick test. https://www.npmjs.com/package/source-map-explorer

![Before](https://user-images.githubusercontent.com/4275720/43016571-13cfaec2-8c08-11e8-9428-b585f1699a30.png)

![After](https://user-images.githubusercontent.com/4275720/43016584-20e470ca-8c08-11e8-8769-1281ac9caa3a.png)

[2018-07-26 20:44] drewandre commented on #36
I'm also seeing this... I can't find any computed css that would be overridding the loader.
<img width="275" alt="screen shot 2018-07-26 at 4 43 31 pm" src="https://user-images.githubusercontent.com/13245041/43287447-1921c4e2-90f3-11e8-8afe-96c7bb869071.png">

[2018-07-27 08:14] GuillaumeCisco commented on #36
@drewandre Can you provide a project example maybe?
Otherwise, inspect the code on http://www.davidhu.io/react-spinners/ for the moon loader and look a the `position` css attributes. Maybe wrapping the loader with a css position will make it works correctly.
It will allow us to detect the undesired behavior.
Thank you,

[2018-08-03 00:39] shoudou commented on #39
I could not find how to get my RingLoader to cover the whole page instead of sticking a the top left corner of the page only. Do you have any idea, Jacargentina? Thanks

[2018-08-11 04:05] #2 closed

[2018-08-11 04:06] #29 closed

[2018-08-11 04:06] #35 closed

[2018-08-11 04:06] #36 closed

[2018-08-11 04:07] davidhu2000 commented on #23
@GuillaumeCisco Just merged in your PR, but looks like single loader import isn't working.

I'm looking at possible solutions, not sure why. I had to deprecate `0.4.0`. We need to push out a patch for this.

[2018-08-11 04:13] davidhu2000 commented on #23
I just published a patch 0.4.1 that removes the single loader import from the readme. So hopefully very few people uses 0.4.0.

[2018-08-11 04:26] davidhu2000 commented on #23
looks like the issue is you need to `import BarLoader from 'react-spinners/dist/BarLoader';`

[2018-08-11 05:04] davidhu2000 commented on #26
I have to agree with @GuillaumeCisco on this. Closing this for now.

[2018-08-11 05:04] #26 closed

[2018-08-11 08:11] GuillaumeCisco commented on #23
Dist folder should not exist. Check the way the build work.

--
Guillaume Cisco

Le sam. 11 août 2018 à 06:26, David Hu <notifications@github.com> a écrit :

[2018-08-11 17:58] davidhu2000 commented on #23
This is fixed in `>0.4.2`

[2018-08-11 17:58] #23 closed

[2018-08-11 18:02] davidhu2000 commented on #39
This is fixed in 0.4.3

[2018-08-11 18:02] #39 closed

[2018-08-19 23:31] davidhu2000 commented on #33
closing due to inactivity

[2018-08-19 23:31] #33 closed

[2018-09-01 12:45] sarneeh opened #41 "Compatibility with styled-components"
It would be awesome if this package would be compatible with [styled-components](https://github.com/styled-components/styled-components), not just `emotion`.

I'd been looking into the code a little and the only thing that has to be done is make `className` prop works just as a `className` prop (appending the component class) 😄 Right now when I do `<DotLoader className="my-class" />` it doesn't do

[2018-09-02 10:03] sarneeh commented on #41
I'm sorry, I was using the `0.3.3` version. It works fine on `0.4.5` :)

[2018-09-02 10:03] #41 closed

[2018-09-17 11:07] ThomasBem commented on #23
We came back to our app recently where we use one of your spinners as our main loading animation. Updated to 0.4.3 and changed the import like you said and now our bundle size dropped by 50KB.

Just wanted to say thanks! 👍

[2018-10-04 21:22] chobo2 opened #42 "BarLoader Not applying unitSize"
Hi

I have this

[code]

but css still is

[code]

version :  "react-spinners": "^0.4.5",

[2018-10-04 21:27] chobo2 commented on #42
never mind see I need to use width/widthunit

[2018-10-04 21:27] #42 closed

[2018-10-07 15:38] sidbentifraouine opened #43 "Feature request: more spinners e.g: http://samherbert.net/svg-loaders/"

[2018-10-09 22:07] davidhu2000 commented on #38
Closing this due to inactivity.

[2018-10-09 22:07] #38 closed

[2018-11-01 01:34] jfremy commented on #36
I ran into the same issue. In my case, it was due to the "box-sizing" property being set to "border-box" for all divs in the CSS (defined in the theme I use).
I used a className css that sets it to "content-box" when calling MoonLoader and this fixed the issue for me

[2018-11-01 13:00] olalonde opened #45 "Usage with styled-components?"
I'm trying to horizontally center the spinner but it doesn't seem to work with the following code:

[code]

[2018-12-04 18:17] vaunus opened #46 "Doesn't render server side with Next.js"
It looks like spinners don't render on the server side with Next.js. I am using the latest version 7.0.2 and they only appear on the client side render.

I have done a bit of investigation and saw that emotion was implemented for the purposes of SSR some time ago in #5 however it doesn't seem to work. I have enabled the emotion plugin in `.babelrc` as documented.

It appears emotion's SSR capabili

[2019-01-08 12:12] vaunus commented on #46
Looks like this fixed in 5.0.0. Thanks @davidhu2000!

[2019-01-08 12:12] #46 closed

[2019-01-10 02:52] ahctangU opened #51 "Following readme example leads to propType warning"
**Do you want to request a feature or report a bug?**
I want to report a bug.

**If reporting a bug, what version of `react-spinners` are you currently using?**
I am using  react-spinners version 0.5.0

**What is the current behavior?**
Following the example in the read me causes a warning:
`Warning: Failed prop type: Invalid prop `css` of type `object` supplied to `Loader`, expected `string`.`

*

[2019-01-10 12:17] pranaydp opened #52 "I want to set this loader on my button click when API fetching how to do that i am getting stuck???? need a help...."
Need help for this.....

When I am doing like this its working fine...
[code]

**What is the current behavior?**

I want this Fadeloader then I am getting stuck
[code]
can you help me out how to set this FadeLoder please tell me...

[2019-01-10 18:59] Suguru-Tokuda opened #53 "Issue with positioning the spinner in center."
**Do you want to request a feature or report a bug?**
No

**If reporting a bug, what version of `react-spinners` are you currently using?**

**What is the current behavior?**
I want to position the spinner horizontally and vertically center inside <div className="col-sm-9 col-md-9"></div>. I tried both "text-align: center" and "text-center" but neither of them worked.

**If the current behavior is

[2019-01-28 02:09] MahbbRah commented on #51
Same issue Here.

[2019-01-30 09:39] wamujlb commented on #51
@davidhu2000 The problem is in this line:

`css: PropTypes.string`, it should be `PropTypes.object`. Because as `css()`.

I can create a PR for it. But you didn't leave any guide about how to contribute to your project :)

[2019-02-08 16:07] davidhu2000 commented on #51
https://github.com/davidhu2000/react-spinners/blob/master/CONTRIBUTING.md

😄

[2019-02-08 16:09] davidhu2000 commented on #52
what do you mean you're getting stuck? Any console errors? Can you create a reproducible example so I can see for myself?

[2019-02-08 16:09] davidhu2000 commented on #53
can you provide some sample code on what you did?

[2019-02-08 16:10] davidhu2000 commented on #32
closing due to inactivity

[2019-02-08 16:10] #32 closed

[2019-02-08 16:14] hel-hadi commented on #51
Nice. i'm waiting this PR :)

[2019-02-13 14:05] stelian87 opened #55 "CSS - background"
How can i make the background transparent?  a background props wound be very useful

[2019-02-13 14:15] stelian87 commented on #55
I have managed it in the parent. Sorry!

[2019-02-19 17:12] rsolomonjr commented on #51
Same.

[2019-02-22 07:44] #55 closed

[2019-03-01 14:04] alexmironof commented on #23
@davidhu2000 Can't use this import method with typescript. I've got error: `Could not find a declaration file for module 'react-spinners/GridLoader'.`

[2019-03-01 16:21] jmorel opened #56 "Add compatibility with codesandbox.io"
**Do you want to request a feature or report a bug?**
Feature

**If reporting a bug, what version of `react-spinners` are you currently using?**
0.5.1

**What is the current behavior?**

Adding react-spinners 0.5.1 as a dependency of a react project on codesandbox.io raises an error during the build of the project. This prevents react-spinners from being part of any example/project hosted there.

[2019-03-01 17:37] davidhu2000 commented on #23
hmm, @alexmironof can you open a new issue? This feels like a different issue that the current issue.

[2019-03-04 05:04] davidhu2000 commented on #51
This issue has been resolved in `0.5.2`.

`PropTypes.string` has been changed to

[code]

[2019-03-04 05:04] #51 closed

[2019-03-04 05:19] davidhu2000 commented on #51
**correction**: I forgot to update the default value of `css` prop. This was resolved in `0.5.3`.

[2019-03-07 07:48] CaptainIvan opened #58 "How to customize animation???"
**Do you want to request a feature or report a bug?**
Yes, css from @emotion/core doesn't work.

**If reporting a bug, what version of `react-spinners` are you currently using?**
last

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/25664253/53940307-655ff300-40c6-11e9-9f8a-c19b879816df.png)

**If the current behavior is a bug, please provide the steps to repro

[2019-03-07 07:49] CaptainIvan commented on #58
I just want to change scale to 1.0. But it's doesn't work
![image](https://user-images.githubusercontent.com/25664253/53940386-a22bea00-40c6-11e9-9d00-ee5c833070ad.png)
![image](https://user-images.githubusercontent.com/25664253/53940408-af48d900-40c6-11e9-8425-0e3993071576.png)

[2019-03-08 09:33] velhari opened #59 "Bundling Failed Error"
**Do you want to request a feature or report a bug?** Bug

**If reporting a bug, what version of `react-spinners` are you currently using?**
0.5.3

**What is the current behavior?**
Getting Bundling Failed Error

**If the current behavior is a bug, please provide the steps to reproduce**
I Installed react-spinners using npm install --save react-spinners and added below lines in .babelrc file {
  "

[2019-03-08 18:26] davidhu2000 commented on #59
@velhari I'm fairly certain this package will NOT work for React Native.

[2019-03-13 10:39] krlmazanik commented on #53
@Suguru-Tokuda Hello. Try this:
`import { ClipLoader } from "react-spinners";
import React from "react";

const Spinner = props => {
 const style = {textAlign: 'center'};
  return (
    <div style={style}>
      <ClipLoader color={"#123abc"} loading={props.isFetching} />
    </div>
  );
};

export default Spinner;
`

If u want to position in the very middle of the screen, try this:
` const style =

[2019-03-18 09:09] andrew-humu opened #60 "Support importing specific loader with TypeScript"
**Do you want to request a feature or report a bug?**
Feature

**If reporting a bug, what version of `react-spinners` are you currently using?**
`v0.4.5`

**What is the current behavior?**
This is an extension of issue #23.

It would be awesome to also support the loading of individual packages via TypeScript.

See also, this comment: https://github.com/davidhu2000/react-spinners/issues/23#issueco

[2019-03-19 10:31] synchronos-t opened #61 "css prop does not override if provided without enclosing { }"
This is a bug report. react-spinners version 0.5.3.

The `css` prop is documented to override the default css, but it does not actually do this, if used like in the documentation, for example like this in my case:

[code]

The `display: block;` is correctly added, but in a way that it does not override the default `display: inline-block` (the respective `<style data-emotion="css"></style>` is adde

[2019-03-25 04:52] #59 closed

[2019-04-10 16:38] RobertDoc opened #62 "PropTypes validation error on css prop"
**Do you want to request a feature or report a bug?**
Bug

**If reporting a bug, what version of `react-spinners` are you currently using?**
[code]
**What is the current behavior?**
When using TypeScript & Emotion, the following will compile correctly:
[code]

However this triggers a PropTypes validation error:

Warning: Failed prop type: Invalid prop `css` of type `string` supplied to `Loader`, e

[2019-04-23 06:03] brightsider opened #63 "Animation Speed"
How yo change speed of animation?

[2019-04-26 10:41] rajharshwal92 opened #64 "Unable to install : Unexpected end of JSON input while parsing near"
![Screenshot 2019-04-26 at 4 08 06 PM](https://user-images.githubusercontent.com/13828111/56802597-1456ba80-683e-11e9-810e-7a34572f1072.png)
I am using the latest version of react-spinners. IN Mac device.
I am unable to install this package.

-> `node version -- 8.12.0`
-> `npm version -- [6.4.1`](url)

Device Macbook air.

`Error: Unexpected end of JSON input while parsing near '...otion":"^7.2.0

[2019-04-30 12:30] roshan605 opened #65 "Can't resolve './beat_loader.jsx'"
**Do you want to request a feature or report a bug?**
bug

**If reporting a bug, what version of `react-spinners` are you currently using?**
"react-spinners": "1.0.0",

**What is the current behavior?**
does not work. Can't resolve './beat_loader.jsx'

**If the current behavior is a bug, please provide the steps to reproduce**
![image](https://user-images.githubusercontent.com/20854187/56961616-d2

[2019-05-10 03:47] rajharshwal92 commented on #64
May be npm cache issue..
It can be solved by `npm cache clean`
So closing this issue.

[2019-05-10 03:47] #64 closed

[2019-05-10 23:22] davidhu2000 commented on #65
@roshan605 how did you install? version `1.0.0` is the incorrect version, `0.5.4` is the latest

[2019-05-18 22:44] #65 closed

[2019-05-18 22:46] davidhu2000 commented on #62
Hi @RobertDoc, looks like you are not using the `css` function from `emotion`?
[code]

[code]

[2019-06-14 17:15] danielcranford commented on #62
Hi @davidhu2000,
The problem with using `css` from `emotion` with typescript is that react-spinners has an incorrect typescript definition of the type of the css attribute, leading to compile time errors for anything except strings. eg
[code]
causes this typescript error during compilation
[code]

which is caused by this interface in react-spinner's index.d.ts
[code]
Note that the `css` property i

[2019-07-02 05:13] davidhu2000 commented on #62
I think the issue might be here, in the propType helper function.

[code]

Looking at each individual loader, the css prop should be a string, as seen here

[code]

The css function is called on the prop `css`.

I think change should fix this issue

[code]
const common = {
  css: PropTypes.string
};
[code]

[2019-07-02 14:16] danielcranford commented on #62
Not quite. The css prop should be whatever `css` from `emotion` accepts. They accept both `string` **and** precompiled css blocks for starters. For example, the following works

[code]

base is not a string, it is an object with the shape `{name: string, stypes: string}` see the emotion composition docs [here](https://emotion.sh/docs/composition)

The react type validators are **advisory**. A fail

[2019-07-04 18:10] davidhu2000 commented on #62
thank you for the explanation @danielcranford. I've updated this package to include your suggested changes. Please try `v0.5.5` and see if this issue has been resolved.

[2019-07-07 07:06] ulrichSchreiner opened #66 "import does not work any more"
hi,

i just updated from version 0.5.4 to 0.5.7 and now my import does not work any more. i used to do
[code]
but this returns a undefined. i changed my code to
[code]
which works.

perhaps the commit 0a08529a8eb9f141d92c07c2a208e5e1ba253891 has a negative side effect?

[2019-07-07 13:40] taweesoft commented on #66
Same here. I was figuring it out for hours. 0.5.7

[2019-07-07 18:01] benkeen commented on #66
Thanks for posting the workaround @ulrichSchreiner, same here.

[2019-07-07 18:22] bytewoopy commented on #66
Same issue, had to rollback to previous version.

[2019-07-07 21:32] davidhu2000 commented on #66
Thank for opening this issue. I'll look into this issue. https://github.com/davidhu2000/react-spinners/commit/0a08529a8eb9f141d92c07c2a208e5e1ba253891 is the cause, but that change is needed in order to not break the demo site. For now, i'd keep using `0.5.4` because the new patch versions do not contain any new features, just devDependency updates

[2019-07-07 21:45] davidhu2000 commented on #66
This should now be fixed on `0.5.8`. Had to update `export default` to `export const` for each individual loader. https://github.com/davidhu2000/react-spinners/blob/master/src/index.js

Although I'd recommend importing the loaders via

[code]

to help reduce import cost, since this would only import the loader you need.

[2019-07-07 21:47] davidhu2000 commented on #66
going this issue now. Please let me know if this issue continues.

[2019-07-07 21:47] #66 closed

[2019-07-07 21:47] davidhu2000 commented on #62
closing this issue now. Please let me know if this issue persists.

[2019-07-07 21:47] #62 closed

[2019-07-07 21:51] davidhu2000 commented on #56
The reason it's not currently working is because the outputted js lives in the root folder, not `dist`. Is there a way to change that on codesandbox? So it imports from the root instead of `dist`?

The reason behind deploying the files in the root is to allow individual imports to help reduce import cost, like

`import BarLoader from 'react-spinners/BarLoader';`

[2019-07-07 21:51] davidhu2000 commented on #52
closing the error due to inactivity

[2019-07-07 21:51] #52 closed

[2019-07-11 13:37] tbaustin commented on #61
Has this been fixed? I am not seeing my styles what so ever even with the ` { } `
[code]

Neither of these are working. @davidhu2000

[2019-07-15 03:59] davidhu2000 commented on #61
I see the issue now.

This actually do not override the existing styles.

[code]

I need to pass the new styles in as an array

[code]

That will actually override the old style. Getting a fix for this soon.

[2019-07-15 04:46] davidhu2000 commented on #61
@tbaustin @synchronos-t can you check `v.0.5.9` and see if the issue has been resolved?

[2019-07-16 04:17] Krunalvaghasiya opened #72 "How to add custom text message below loader"
**Additional context**
Can you add custom message display functionality?

[2019-07-18 21:49] bbmoz commented on #61
@davidhu2000 I'm on v0.5.12, and I don't see the styles overwriting. I used both methods as described by @tbaustin .

[2019-07-19 01:53] davidhu2000 commented on #61
@bbmoz can you post the exact code you used? so i can try to reproduce

[2019-07-19 01:57] bbmoz commented on #61
Here is the code I used:
[code]

[2019-07-19 04:26] davidhu2000 commented on #61
<img width="628" alt="Screen Shot 2019-07-18 at 9 25 28 PM" src="https://user-images.githubusercontent.com/15827041/61509268-97516200-a9a2-11e9-8505-c73e64de2fc5.png">

when i tried your code, it's working fine for me. Please note that the override only works on the wrapper. It will be on this class `css-1bfp83e` in the image

[2019-07-23 15:21] amsully opened #74 "0.5.13 Multiple default exports crashing meteor and babel minifier"
**Describe the bug**

Error within UI after successful build:
![Screen Shot 2019-07-23 at 11 17 57 AM](https://user-images.githubusercontent.com/5599640/61724256-98381a00-ad3b-11e9-8920-552887bb7c30.png)
![Screen Shot 2019-07-23 at 11 17 46 AM](https://user-images.githubusercontent.com/5599640/61724268-9d956480-ad3b-11e9-8354-c5761f332c20.png)

Error thrown during babel minification process in met

[2019-07-23 16:44] davidhu2000 commented on #74
hmm, interesting. 0.5.13 only have readme and changelog updates. It was a patch to fix the props table in readme.

Just want to confirm, downgrading to 0.5.12 fixes your issue completely?

[2019-07-23 17:49] alexmarmon commented on #74
@davidhu2000 I just came across this as well. Downgrading to 0.5.12 completely fixed for me.

[2019-07-23 17:54] amsully commented on #74
Yes downgrading fixes the issue completely, our diff for the fix:

[code]

`^0.5.4` was defaulting to `0.5.13` when building from scratch. Locally I have switched back and forth between `0.5.12` and `0.5.13` and replicated the problem. Only `0.5.13` has a problem.

I also get the same issue with `0.6.0-alpha.1`.

[2019-07-23 20:41] openjck commented on #74
I'm seeing an apparently related issue when running jest tests with the latest version of *react-spinners* in our [ensemble](https://github.com/mozilla/ensemble) repo. Downgrading to 0.5.12 fixes it.

[2019-07-24 20:15] Samuel-Montoya opened #75 "HashLoader color prop not working"
**Describe the bug**
When using the HashLoader, the color prop makes it not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Import { HashLoader }
2. `<HashLoader color='red' />`
3. No Result
4. However, `<HashLoader />` renders in black.

**Expected behavior**
It should pull in the color, but nothing renders.

[2019-07-25 16:21] 0x13a opened #76 "unable to use package with webpack + next.js"
using nextjs and webpack after installing can't seem to make it work

import BarLoaderComponent from "./BarLoader";
       ^^^^^^^^^^^^^^^^^^

SyntaxError: Unexpected identifier
    at Module._compile (internal/modules/cjs/loader.js:718:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:785:10)
    at Module.load (internal/modules/cjs/loader.js:641:32)
    at Function.Module.

[2019-07-26 02:53] 814k31 commented on #74
0.5.13 breaks my tests as well, downgrading to 12 worked:
Jest output
[code]

[2019-07-26 03:53] davidhu2000 commented on #76
@0x13a what version are you using? There seems to be an issue with 0.5.13. try downgrading to 0.5.12

[2019-07-26 03:53] davidhu2000 commented on #75
can you try the hash code for red instead?

[2019-07-26 03:56] davidhu2000 commented on #74
this is so weird. these are the only changes for `0.5.13`

https://github.com/davidhu2000/react-spinners/commit/53e943b40cff57a607e17268e986011c6cf4d93b

https://github.com/davidhu2000/react-spinners/commit/a51b9722e655e24c8e8ed7cec9828ae2edb4e88e

https://github.com/davidhu2000/react-spinners/commit/93ca51c9e57fe0a62aef64696f8fa9aa10592587

No idea how these commits are causing this issue.

Can y

[2019-07-26 04:09] 814k31 commented on #74
@davidhu2000 importing like `import GridLoader from 'react-spinners/GridLoader';` seems to work for me

[2019-07-26 13:16] 0x13a commented on #76
Not sure about the version - I've migrated to `react-spinners-kit`

[2019-07-26 13:16] #76 closed

[2019-07-26 21:47] davidhu2000 commented on #74
sounds like there is an issue with the index.ts exports. I will look into that

[2019-07-26 22:41] amsully commented on #74
Within a minimal replication repo, the change of import style resolved the problem, but our larger project has `react-spinners` throw an error when importing react.

**minimal replication repo/instructions:** https://github.com/amsully/react_spinner_issue

Error thrown when changing all imports in larger project:
![Screen Shot 2019-07-26 at 9 57 29 AM](https://user-images.githubusercontent.com/559

[2019-07-28 06:04] davidhu2000 commented on #74
I figured it out. Looks like the `dist` folder accidentally got pushed up as part of this patch. That folder includes all the typescript stuff, and there look to be some bugs compiling the code. That explains why `v0.6.0-alpha.1` has similar problems.

This is what caught my eye finally.

All the desired files should be in the root folder, to allow for individual imports. I cloned [ensemble](https

[2019-07-28 06:12] davidhu2000 commented on #74
looks like the problem is in tsconfig:

[code]

need to be changed to

[code]

[2019-07-28 06:14] davidhu2000 commented on #74
Going to keep this open until we can confirm this is resolved

[2019-08-01 10:58] YarochkinMichael commented on #76
I have the same problem

[2019-08-01 11:14] YarochkinMichael commented on #76
removing folder "dist" from 0.5.13 is solving problem

[2019-08-01 13:02] kertul opened #78 "Window is not defined with Server Side Rendering"
Windows are not defined by Server Side Rendering.
What is the solution, please help.

[2019-08-05 17:00] echee commented on #60
for this to work, don't you just need to generate type files in the root? or better yet, add the types to DefinitelyTyped?

[2019-08-05 18:57] davidhu2000 commented on #60
@echee yeah, each file would need their own typing file. This is part of the `v0.6.0` release, where the entire package is now in typescript. can you try `npm install react-spinners@0.6.0-alpha.3` and see if this works?

[2019-08-06 01:15] KiyaDoig commented on #76
Is this being worked on? I have the same issue.

[2019-08-06 02:04] davidhu2000 commented on #76
yes. This issue will be resolved in `v0.6.0`. That is currently in the alpha stage right now.

You can use `v0.5.12` in the meantime.

[2019-08-06 07:02] jmorel commented on #56
Following the fix in #81 it now works like a charm, thanks!
https://codesandbox.io/s/affectionate-mendel-rm2ku

[2019-08-06 07:02] #56 closed

[2019-08-06 15:40] davidhu2000 commented on #56
Awesome. i'll create a codesandbox account and setup a demo there.

[2019-08-06 15:41] davidhu2000 commented on #78
@kertul can you provide more details? How would I reproduce? What errors are you seeing? What version are you using etc?

[2019-08-07 05:30] davidhu2000 commented on #75
I have figured this out. Made an update in `v0.6.0-alpha.8` to allow `<HashLoader color='red' />`. Only the basic colors are supported though.

[2019-08-07 05:31] davidhu2000 commented on #72
I'd do something like

[code]

[2019-08-07 05:32] #72 closed

[2019-08-08 14:47] shaibam commented on #74
Will updating to the newest version fix it? or do I have to manually change the tsconfig?

[2019-08-12 05:03] #53 closed

[2019-08-13 04:41] davidhu2000 commented on #74
seems like there are a lot of users with this problem. so I'm going to deprecate this version. Hoping to release `0.6.0` soon, just promoted it to beta. 😄

[2019-08-13 04:44] davidhu2000 commented on #74
ok, `0.5.13` is deprecated. tagged `0.5.12` as latest.

[2019-08-15 17:43] wKovacs64 commented on #65
Was 1.0.0 published by mistake? It's available on npm and missing a ton of stuff.

[2019-08-15 17:54] davidhu2000 commented on #65
yes. and it was deprecated. the latest version is 0.5.12

[2019-08-15 18:12] wKovacs64 commented on #65
Ah okay. Got an automated PR for it, for some reason. Thanks.

[2019-08-19 04:07] davidhu2000 commented on #75
This has been fixed in `v0.6.0`

[2019-08-19 04:07] #75 closed

[2019-08-19 04:07] davidhu2000 commented on #74
This has been fixed in `v0.6.0`

[2019-08-19 04:07] #74 closed

[2019-08-19 04:07] davidhu2000 commented on #60
This feature is supported in `v0.6.0`

[2019-08-19 04:07] #60 closed

[2019-08-20 03:41] davidhu2000 commented on #58
This issue is resolved. please update to v0.6.0

[2019-08-20 03:41] #58 closed

[2019-08-20 03:42] davidhu2000 commented on #63
Here is an example. also, please update to v0.6.0 style override has a bug before.

![image](https://user-images.githubusercontent.com/25664253/53940386-a22bea00-40c6-11e9-9d00-ee5c833070ad.png)
![image](https://user-images.githubusercontent.com/25664253/53940408-af48d900-40c6-11e9-8425-0e3993071576.png)

_Originally posted by @CaptainIvan in https://github.com/davidhu2000/react-spinners/issues/58

[2019-08-20 03:42] #63 closed

[2019-08-20 10:19] rammanoj opened #107 "Input Box overlapping in website"
I went to the website https://www.react-spinners.com/. I could find a lot of cool spinners!! But I also could find the input boxes (for taking the size of loaders) are overlapping.

Image:
![image](https://user-images.githubusercontent.com/21082378/63339258-1c44e800-c362-11e9-89c1-de0f3028887c.png)

[2019-08-20 13:02] Mosoc opened #108 "V0.6 conflicts with react-konva"
**Describe the bug**
Typescript-rewritten version 0.6 conflicts with react-konva.
It will crash the browser even just import the component containing react-spinners.

It had no problem when using react-spinners@0.5.12.

**To Reproduce**
Steps to reproduce the behavior:

[code]

I create a repo with CRA to show it.
https://github.com/Mosoc/react-spinners-v0.6-conflict-with-react-konva

**Expected b

[2019-08-21 15:16] rammanoj commented on #107
+1

[2019-08-21 16:40] davidhu2000 commented on #107
@rammanoj doesn't look to be happening on my end, can you provide more context? What browser are you using? Any console errors?

<img width="383" alt="Screen Shot 2019-08-21 at 9 39 36 AM" src="https://user-images.githubusercontent.com/15827041/63450805-aa1ee280-c3f7-11e9-8a24-3382cd7401c1.png">

[2019-08-22 19:13] lPaths opened #109 "This make function Math.random() in my whole react app return 0.5"
**Describe the bug**
These LOC from GridLoader.js make every function Math.random() in my react app return 0.5![image](https://user-images.githubusercontent.com/22215743/63542972-e400fd80-c54b-11e9-9bf7-6de99f050ca0.png)

**To Reproduce**

**Expected behavior**
This line of code only affects Math.random() in component scope

**Screenshots**
If applicable, add screenshots to help explain your probl

[2019-08-22 20:19] davidhu2000 commented on #109
oh oops, that is suppose to be in the tests. I'll get this fixed.

[2019-08-23 01:30] lPaths commented on #109
thank you :D

[2019-08-23 03:57] davidhu2000 commented on #109
@lPaths can you update to `v0.6.1` and see if your issue is resolved?

[2019-08-23 16:34] lPaths commented on #109
The problem is fixed, ty

[2019-08-23 16:34] #109 closed

[2019-08-26 06:00] rammanoj commented on #107
I am using firefox 68.0. I can even see the bug now.

[2019-08-28 13:07] musti-91 opened #111 "Ability to adjust the spinner speed"
It would be nice if we have control for speed of spinner, somehow that have used in my old project and we had to adjust it by CSS properties.

[2019-08-28 13:20] zbeedatm opened #112 "Freeze the screen while spinner is running"
The spinner should freeze the screen while it's running to disallow the user doing any activities meanwhile till it finishes.

Do you support it?

[2019-08-30 06:37] cassiopagnoncelli opened #113 "Cannot read property 'match' of undefined"
Just got this bug while trying to install the package with `npm install --save react-spinners`.

I'm using standard React app, nearly brand new generated with `create-react-app`. My log shows

[code]

[2019-09-13 11:20] MohamedAssaf commented on #113
Hello, Can I take this?

[2019-09-17 09:33] eoghanmccarthy commented on #61
This issue still persists in 0.6.1

[2019-09-24 14:00] mikkybang opened #119 "Rotate Colors"
Is there a way to make the loader change its colors while its loading?

[2019-09-30 02:31] davidhu2000 commented on #119
currently there isn't a way, but definitely a good idea I can implement in the future

[2019-10-12 11:04] Dwlad90 opened #126 "FadeLoader prop radius is not changing radius of the loader"
`<FadeLoader
          color='white'
          radius={5}
          height={10}
          width={3}
          margin="5px"
        />`

![Screen Shot 2019-10-12 at 14 21 20](https://user-images.githubusercontent.com/22377836/66700654-9dce4c00-ecfb-11e9-8ec4-55b67046dd8b.png)

[2019-10-19 17:14] taiphamhdweb opened #127 "Display list "Warnings while compiling" in console log"
**Describe the bug**
I used "React-spinner" on my project. But when I open console log Tab of Chrome browser, I saw list "Warnings combiling"

**To Reproduce**
Steps to reproduce the behavior:
1. Use React-spinner.
2. Reload the page contain "React-spinner".
3. Open "Console Log" Tab of Chrome browser.
4. See list "Warnings while compiling"

**Expected behavior**
The "Warnings while compiling" wil

[2019-10-21 21:14] roberts98 commented on #126
Hello @Dwlad90
Actually the border radius is being set correctly, but because you have such a small width you don't see the radius, try setting the width to e.g 10, and you'll se the dot, instead of square, meaning that radius is working correctly.

[2019-10-24 05:54] davidhu2000 commented on #112
that isn't current supported. I'd recommend adding an overlay for what you're looking for. This package is only meant to add small animations to indicate loading.

[2019-10-24 05:54] #112 closed

[2019-10-24 05:56] davidhu2000 commented on #127
looking at the stack trace on the screenshot, i'm seeing the errors are for `sass-loader` or `postcss-loader`, can you provide more details on why you think this is related to react-spinners?

[2019-10-24 05:56] davidhu2000 commented on #126
that is correct. closing this issue.

[2019-10-24 05:56] #126 closed

[2019-10-24 05:57] davidhu2000 commented on #78
closing due to inactivity.

[2019-10-24 05:57] #78 closed

[2019-10-26 17:45] Dwlad90 commented on #126
![Screen Shot 2019-10-26 at 20 42 39](https://user-images.githubusercontent.com/22377836/67623717-3fdc5100-f831-11e9-9705-78ce55af9c80.png)
![Screen Shot 2019-10-26 at 20 42 32](https://user-images.githubusercontent.com/22377836/67623718-3fdc5100-f831-11e9-99f7-9b47f2db00f7.png)
![Screen Shot 2019-10-26 at 20 42 22](https://user-images.githubusercontent.com/22377836/67623719-4074e780-f831-11e9-921

[2019-11-24 02:33] davidhu2000 opened #139 "Rotate loader margin prop isn't working properly"
**Describe the bug**
The margin prop isn't working as expected.

**To Reproduce**
Steps to reproduce the behavior:
change the margin prop to 10

**Expected behavior**
The two outer circles move further from the middle

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="342" alt="Screen Shot 2019-11-23 at 6 32 15 PM" src="https://user-images.githubusercontent.c

[2019-11-24 02:34] davidhu2000 opened #140 "FadeLoader margin prop isn't working properly"
**Describe the bug**
FadeLoader margin prop only move the loader toward bottom right, instead of expanding the loader

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your pro

[2019-11-25 06:02] #139 closed

[2019-11-27 05:07] #140 closed

[2019-11-30 04:43] davidhu2000 commented on #108
@Mosoc i'm still not 100% sure why this is happening, but the entire page freezes.

However, seems like if you use the new way to import a single loader, the issue seems to go away.

[code]

[2019-12-21 17:43] davidhu2000 commented on #113
@MohamedAssaf any update on this?

[2020-01-27 23:49] olive007 opened #159 "Use '<span>' instead of '<div>'"
Simply change div to span inside the code to be able to use it inside text element.

**Problem related:**
We got a warning if we want to any loader inside a text element (\<p/>).

[2020-01-31 05:09] 0xc0d3r commented on #113
@davidhu2000 I looked into this issue in the below environment and I didn't get any such error.

[code]

I tested with `yarn` as well but no issues found.

@cassiopagnoncelli Can you confirm this?

[2020-01-31 05:34] 0xc0d3r commented on #159
Hi @olive007

As per [HTML5 spec](https://html.spec.whatwg.org/multipage/grouping-content.html#the-p-element), using a block element `div` inside of `p` is invalid. For more details check [here](https://stackoverflow.com/questions/10763780/putting-div-inside-p-is-adding-an-extra-p)

I hope you understand the problem.

[2020-02-01 22:44] cassiopagnoncelli commented on #113
➜  conta git:(master) node -v
v13.2.0
➜  conta git:(master) npm -v
6.13.7

[2020-02-12 03:53] jaketoolson commented on #159
@0xc0d3r this is why Olive007 is suggesting replacing div with span.

[2020-02-12 10:49] ajyotirmay opened #161 "An incredibly amazing library"
Well, this is an amazing project. I've just started using it, and it has really helped me in getting my work done in a better way. Absolutely love the collection of spinners available.

Really appreciate this project! Thanks guys!!!

(You very well deserve the star!)

[2020-03-07 19:39] Seanmclem commented on #45
This package requires emotion for css-in-js. Which requires ejecting from the CRA to update the babelrc file to use it. Which seems pretty unnecessary. It should work with styled-components, but it doesn't

[2020-03-24 08:23] NamorNimash commented on #36
Have the same issue with Moonloader. For example, Cliploader work perfectly in the parent.

[2020-04-08 13:21] Shubham-DK opened #182 "Can this be used with CRA boilerplate??"
I am wondering can this be directly used with Create React app Boiler plate, as you mentioned to add plugin in .babelrc

[2020-04-16 13:38] stekyne commented on #61
Still seeing this in 0.81 even.

[2020-05-02 03:15] davidhu2000 commented on #161
thank you for the kind words 😄

[2020-05-02 03:15] #161 closed

[2020-05-02 03:26] davidhu2000 commented on #182
Of course, if you just run `create-react-app`, then `npm install react-spinners`. It'll be added to the app.

[2020-05-02 03:29] davidhu2000 commented on #159
I will look into this. Hopefully this could be an easy switch and wouldn't cause any major styling issues.

[2020-05-02 03:29] #127 closed

[2020-05-02 03:29] davidhu2000 commented on #127
closing due to inactivity

[2020-05-02 03:30] davidhu2000 commented on #113
hmm, wonder if this is related to node somehow.

[2020-05-02 03:32] davidhu2000 commented on #45
hmm, i wonder if this is a way to make it work for both 🤔

[2020-05-02 16:34] Shubham-DK commented on #182
So no need to modify anything in .babelrc ?

[2020-05-03 11:58] knpwrs opened #188 "Library does not support tree shaking"
**Describe the bug**

I'm getting ready to launch an app to production and decided to use [`webpack-bundle-analyzer`](https://www.npmjs.com/package/webpack-bundle-analyzer) to see if I could cut down on my bundle size. To my surprise, even though I only included one spinner in one location, I found that all of the spinners were being bundled into my app.

**To Reproduce**

Build a project importin

[2020-05-03 11:58] nickojs commented on #182
Hey @davidhu2000, I don't get it. When importing a spinner, the following error is thrown:

`./node_modules/react-spinners/ScaleLoader.js
Module not found: Can't resolve '/frontend/node_modules/babel-loader/lib/index.js' in '/frontend'
`

As 'frontend' being the folder where I created a react app with CRA. Do I have to eject and edit the CRA's babel config file? Also, I tried adding a babelrc file

[2020-05-04 15:37] davidhu2000 commented on #188
@knpwrs thanks for that, i'll look into this. In the meantime, you can do this to only import one loader

[code]

[2020-05-05 11:10] kyle-hensoon opened #189 "using Hook instead of class"
upddate package with functional component

[2020-06-21 17:16] dsaw opened #207 "NPM run watch script fails in Windows bash"
**Describe the bug**
When trying to run the `npm run watch` command after setting up the repo, it fails on Windows bash terminal.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout repo locally
2. Follow the build instructions as given in the file
3. Run `npm run watch`
4. It fails while running `babel-node` command with error `SyntaxError: missing ) after argument list`

**Screenshots

[2020-06-24 07:21] ioanlucut opened #208 "Usage w/o Emotion"
First, thanks for the lib!

However, it uses Emotion (https://github.com/davidhu2000/react-spinners/blob/master/package.json#L93) which means an extra bundle of JS for any app which does not use that framework by default.

I would love to use this without having the extra payload in our bundle.

Would this be an option?

[2020-07-08 09:56] mnlbox commented on #208
@ioanlucut Yeah, I have same issue. I prefer a smaller bundle size. Your final bundle size now is a little huge and not fit good for production:
https://bundlephobia.com/result?p=react-spinners@0.9.0

@davidhu2000 any plan to fix this issue and decrease bundle size?

[2020-07-18 06:52] davidhu2000 commented on #208
@ioanlucut can you provide more details on your application setup? so I can create a version locally to test. If you'd like more details on why emotion was added. It was done for cleaner code and server side rendering https://github.com/davidhu2000/react-spinners/issues/5

[2020-07-18 06:54] davidhu2000 commented on #189
can you add more details regarding the benefit of doing that versus the current setup?

[2020-07-18 06:56] davidhu2000 commented on #208
@mnlbox, how are you importing the loaders? You can import them individually, which should help reduce bundle size.

[code]

It's also possibly related to https://github.com/davidhu2000/react-spinners/issues/188

[2020-07-18 20:51] #182 closed

[2020-07-22 06:55] ioanlucut commented on #208
@davidhu2000 currently we use SCSS, so the emotion is not used at all in the codebase.

Thinking out loud: maybe a solution is to use emotion but provide a dist version of the spinners with the compiled inline CSS while tree shaking everything else.

[2020-07-23 10:17] krstic-duci commented on #61
Still seeing this in 0.9.0 even.

[2020-07-23 16:16] davidhu2000 commented on #61
reopening the issue for further investigation.

Can you provide a code sample to help reproduce?

[2020-07-27 12:44] krstic-duci commented on #61
Hi,

Please have a look at this [codesandbox example](https://codesandbox.io/s/pedantic-frost-i4b65) ?

[2020-07-28 05:51] davidhu2000 opened #215 "Replace TSLint with EsLint"
TSlint is deprecated and replaced with Eslint

https://github.com/palantir/tslint/issues/4904

[2020-07-28 05:51] davidhu2000 opened #216 "Replace NPM with yarn"
for faster installations

[2020-07-28 05:52] davidhu2000 opened #217 "Include new tsconfig options for stricter typechecking"

[2020-07-28 05:52] davidhu2000 opened #218 "Update all dependencies"
To fix all security alerts as well

[2020-08-04 17:50] nayos-scott opened #231 "Broken in IE11 due to Object.assign"
**Describe the bug**
This library uses `Object.assign` in a few places, e.g. https://github.com/davidhu2000/react-spinners/blob/1b4c73cbf791bf4eaa8cba15327e4fb1741f4d3f/src/helpers/proptypes.ts#L26

IE11 does not support `Object.assign`:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Browser_compatibility

**To Reproduce**
View a spinner in IE11. Obs

[2020-08-04 19:16] nayos-scott commented on #231
Spoke to soon on this issue - had to add polyfills on my end anyways which covers this.

Although the demo is broken in IE11, https://www.davidhu.io/react-spinners/, may want a polyfill there.

[2020-08-04 19:16] #231 closed

[2020-08-24 22:31] wtesler commented on #111
Great feature request

[2020-09-28 18:38] Dylan-Kerler commented on #38
+1 on this. Would be good to stop the clip loader from bouncing up and down.

[2020-09-29 06:08] piyali007 commented on #53
@krlmazanik  thanx it works

[2020-10-12 00:44] benji-meldcx commented on #111
Yes please. I can say there are spinners in this package that I love, but wouldn't use simply because the animation speed is not quite in beat with the rest of the app I'd intend it for.

Being able to optionally specify the duration of the animation for each spinner type would be amazing and imo the difference between some people using this library or not.

[2020-10-12 04:19] texels opened #282 "PuffLoader is not centered"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
go to your demo site, set puff loader to 100 to see easier

**Expected behavior**
All spinners should be centered on their box, and preferably stay in it.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add

[2020-10-13 15:56] davidhu2000 commented on #111
It's been hard to find time to build new features. v0.10.0 is already a little big. I think this could be a great feature for v0.11.0

[2020-10-13 22:29] benji-meldcx commented on #111
Thanks @davidhu2000, it's great to know this is on the Roadmap now. I may even be able to help with a PR. FYI, I noticed you've separated releases by project. Did you know you can tag issues with and filter by milestones?

[2020-10-19 18:14] PierreMarieRiviere commented on #189
For those of us coding with hooks and not learning legacy React. Documentation should be updated.

[2020-11-25 07:59] chiubaka opened #293 "PulseLoader generates unique "key" prop console errors"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1732408/100198549-efa15800-2f36-11eb-892b-f118b65f1dfa.png)

`PulseLoader` appears to be generating unique "key" prop errors. We're using `react-spinners@0.9.0`.

**To Reproduce**
1. Render a PulseLoader anywhere...

**Expected behavior**
No unique "key" prop errors--clear console and keys defined on individual PulseLoader ele

[2020-11-25 08:00] chiubaka commented on #293
Notably: This doesn't seem to be an issue once the bundle is built and deployed. But it does show up when developing locally using `webpack-dev-server`.

[2020-12-22 16:55] EbenBosman opened #321 "react-spinners@0.9.0 incompatible with react@17.0.1"
I am attempting to update the dependencies of the project I am working on. However it seems that react-spinners@0.9.0 (Latest version as of writing) is incompatable with react@17.0.1. Please the output of `npm install` below:

[code]

[2020-12-23 22:00] mlippert commented on #321
Interesting. I see:
[code]
But everything still works. I'm running npm version `6.14.10` and node version `v12.20.0` in case that may matter.

Since everything still works w/ react and react-dom `v17` it'd be nice if the react-spinners peer dependency version was updated to reflect that (unless there are problems I just haven't encountered).

[2020-12-24 00:00] T0X1CCAT commented on #321
not sure if this is related, but I am on react 17.0.1 and I see a spinner but it doesn't look like the one I specified, and it does not change if I select different react spinners. Just a circle sort of pulsing

[2020-12-27 02:37] davidhu2000 commented on #321
should be a fairly easy fix. https://github.com/davidhu2000/react-spinners/blob/master/package.json#L92-L93

need to add v17 into peer dependencies

[2020-12-27 03:21] davidhu2000 opened #323 "Update emotion to v11"

[2020-12-27 04:21] davidhu2000 commented on #293
@chiubaka can you share a minimal reproducible example? I'm unable to reproduce this issue.

[code]

this runs fine without any concern errors. I generated this using create-react-app.

as for this, it makes sense. Production built strips a ton of this out.

[2020-12-27 04:44] davidhu2000 commented on #61
so taking off this code fixes the overriding issue.
[code]

However, without that, now this code no longer works

[code]
I see an output

[2020-12-27 04:46] davidhu2000 commented on #61
something worth noting is all the loaders include
[code]

https://github.com/davidhu2000/react-spinners/blob/master/src/CircleLoader.tsx#L1

I wonder if that need to be removed and use `@emotion/babel-preset-css-prop` instead.

[2020-12-27 05:27] #215 closed

[2020-12-27 05:27] #216 closed

[2020-12-27 05:27] #217 closed

[2020-12-27 05:27] #218 closed

[2020-12-27 05:28] davidhu2000 commented on #188
@knpwrs can you install `react-spinners@0.10.0-alpha.3` and see if this issue is resolved?

[2020-12-27 05:28] davidhu2000 commented on #321
@EbenBosman can you install `react-spinners@0.10.0-alpha.3` and see if this issue is resolved?

[2020-12-27 05:28] davidhu2000 commented on #159
@olive007 can you install `react-spinners@0.10.0-alpha.3` and see if this issue is resolved?

[2020-12-28 08:38] T0X1CCAT commented on #321
i believe the issue is fixed

[2020-12-30 07:04] davidhu2000 commented on #188
Look like that PR did it.

According to [bundlephobia](https://bundlephobia.com/result?p=react-spinners@0.10.0-beta.3)

<img width="655" alt="Screen Shot 2020-12-29 at 11 04 39 PM" src="https://user-images.githubusercontent.com/15827041/103335602-42849880-4a2a-11eb-91e7-64b11ff2141b.png">

[2020-12-30 07:53] #159 closed

[2020-12-30 07:54] #321 closed

[2020-12-30 17:55] #188 closed

[2020-12-30 22:30] davidhu2000 commented on #189
https://github.com/davidhu2000/react-spinners#example

example has been updated using react hooks.

[2020-12-30 22:30] #189 closed

[2020-12-30 22:55] #323 closed

[2020-12-30 23:24] davidhu2000 commented on #111
Starting to work on this feature now. How I'm thinking about implementing this is introducing a new prop called `speedMultiplier`. You'll pass in a number that adjusts the speed accordingly. Because many of the loaders include calculations for tying each piece together, allowing passing of an exact value might be tough in some cases.

The downside of multiplier implementation would be the end user

[2020-12-30 23:27] davidhu2000 commented on #111
One complex one could be ClockLoader, where there are two different speeds of animation

[code]

I think having the end user pass in `2s` as an example, means it's hard to know how that 2s applies, is it applied to the after or the before?

[2021-01-01 14:51] tyteen4a03 opened #336 "Must use import to load ES Module: node_modules/react-spinners/SyncLoader.js"
I'm getting this error when using 0.10.1 of this package:

[code]

No such error with 0.9.0.

[2021-01-01 20:02] davidhu2000 commented on #336
Can you provide some code samples to reproduce this issue?

I generated a blank react app and was able to run it without issues

[2021-01-02 05:19] davidhu2000 commented on #336
@tyteen4a03 are you doing something like
[code]
instead of

[code]
?

can you share the packages involved in your app so I can better reproduce it and see if I can create a fix? As far as I know, most people uses the `import` syntax.

[2021-01-02 05:50] davidhu2000 commented on #336
@tyteen4a03, I found an issue with 0.10.1 and deprecated it. The `type: module` is still in `package.json`, so I'm not sure if my fix is related to your issue. But can you try 0.10.2 and see if you still see the issue?

[2021-01-02 11:04] tyteen4a03 commented on #336
@davidhu2000 I used to do `import { SyncLoader } from 'react-spinners'. `import SyncLoader from 'react-spinners/SyncLoader` triggers the same issue.

I'll try 0.10.2.

[2021-01-02 11:29] tyteen4a03 commented on #336
Unfortunately same issue: `Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: **/react-spinners/SyncLoader.js` with `import SyncLoader from 'react-spinners/SyncLoader'`

[2021-01-02 16:47] MariusAlch commented on #336
Same issue.

[2021-01-02 19:02] EricKit commented on #336
I'm having this issue running NextJS for some background. In 0.10.2 there is still `type: module` in the package.json.

[2021-01-02 20:00] davidhu2000 commented on #336
I still can't reproduce it using create react app. In the meantime, I'll revert #327 for now, and publish a new patch.

Can someone please provide some actual code to help me reproduce?

[2021-01-02 20:24] davidhu2000 commented on #336
this is done. Can you try `0.10.4` and see if this issue is fixed?

[2021-01-03 02:25] EricKit commented on #336
0.10.4 works.

To reproduce the issue set-up a NextJS environment:

`npx create-next-app`
Name it whatever you want, go into the folder.

Add to `package.json`
`"react-spinners": "0.10.2"`

Add to `pages/index.js`

`import MoonLoader from "react-spinners/MoonLoader";`

And in the return anywhere add `<MoonLoader></MoonLoader>`

This will create your issue, I just tested it.

[2021-01-03 22:21] tyteen4a03 commented on #336
Thanks - looks like 0.10.4 fixed things.

[2021-01-03 22:40] benji-meldcx commented on #111
Yeah given that the animations are looped infinitely and that some take significantly longer to return to their starting position than others, having an optional `speedMultiplier` defaulting to `1` makes sense.

[2021-01-03 22:57] benji-meldcx opened #340 "Moon Spinner broken animation"
**Describe the bug**
The larger circle of the moon spinner is incorrectly spinning.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo page](https://www.davidhu.io/react-spinners)
2. View the Moon Spinner
3. Observe the outer circle spins when it should remain still

**Expected behavior**
Outer circle should remain still.

**Screenshots**
<image src="https://user-images.githubus

[2021-01-04 20:50] TrySickle opened #341 "BarLoader will not appear on v0.10.4"
**Describe the bug**
BarLoader will show on v0.9.0 but not after upgrading to v0.10.4. It seems to have 0 width.
The code that worked on v0.9.0 was this:
`<BarLoader
            css={{ margin: '0 auto' }}
            height={ 10 }
            width={ 300 }
            color="#4285F4"
            loading
          />`

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to v0.10.4
2. BarLo

[2021-01-05 09:35] filipmacek commented on #341
Also not working for me

[2021-01-05 17:31] Beej126 commented on #111
+want-this-too =) and am totally fine with a multiplier vs actual time input

[2021-01-09 18:51] NeliHarbuzava commented on #61
Is this fixed?

[2021-01-09 20:42] davidhu2000 commented on #341
looks like it's due to the `div` to `span` change, try adding a override for `display: inherit`

[2021-01-09 20:48] #336 closed

[2021-01-11 20:24] TrySickle commented on #341
nice, that fixed it

[2021-01-28 12:49] mountwebs commented on #61
This is still an issue for me.

[2021-02-02 23:27] wtesler commented on #111
Yes, sounds like a solution. How is it going?

[2021-02-04 19:39] musti-91 commented on #111
Can we just make it easier as `speed` prop please.

[2021-02-10 18:08] khibma opened #353 "Support for ALT Text or Aria labels"
**Is your feature request related to a problem? Please describe.**
I was looking to add alt-text or better yet, aria-labels to the spinners to make them more accessible.

**Describe the solution you'd like**
I've tried adding a span or straight text into the loader; nothing will render on screen, nor do I see it in the generated source. I've also tried adding aria-labels to the component, but they

[2021-02-13 03:49] #340 closed

[2021-02-13 03:54] davidhu2000 commented on #340
Fixed in 0.10.5

[2021-02-13 03:56] davidhu2000 commented on #341
probably going to add `display:inherit` to all the loaders

[2021-02-13 03:57] davidhu2000 commented on #353
that's a good idea. i can probably just allow all additional props so you can add as many as you need, even data props should work. i think this could be a good feature to implement.

[2021-02-13 03:58] davidhu2000 commented on #111
i don't think `speed` prop is explicit enough. I can easily see that interpreted as the exact timing of the animation vs just a multiplier.

[2021-02-21 06:34] davidhu2000 commented on #111
just published `0.11-alpha.3`, which includes `speedMultiplier` prop for `BarLoader`. please try it out and let me know what you think.

[2021-02-21 17:13] Beej126 commented on #111
neat! any chance you could put that on PulseLoader as well for testing?

[2021-02-21 20:55] davidhu2000 commented on #111
@Beej126  done. try it with `0.11-alpha.5`

[2021-02-22 03:09] Beej126 commented on #111
hey thanks... sorry to pull you along... i guess we're sortof accustomed to a slightly different fade approach to this... e.g. "three-bounce" from https://kyleamathews.github.io/react-spinkit/

[2021-03-04 13:52] GuillaumeDesforges opened #386 "GridLoader is not displayed in grid"
**Describe the bug**
The GridLoader is not displayed in grid, but in one line.

**To Reproduce**
Steps to reproduce the behavior:
1. Use GridLoader in any react project.

**Expected behavior**
GridLoader dots should be displayed in a 3x3 grid, not on one unique line.

**Screenshots**

![image](https://user-images.githubusercontent.com/1882000/109973456-b24c2380-7cf8-11eb-97e8-59acede84295.png)

**

[2021-03-16 23:06] Samuel-Montoya opened #387 "MoonLoader doesn't spin"
**Describe the bug**
MoonLoader is not rendered like it should.
Latest version of React.

**To Reproduce**
Steps to reproduce the behavior:
1. Import MoonLoader `import MoonLoader from "react-spinners/MoonLoader"`
2. Render in JSX `<MoonLoader size={50} />`

3. See error

<img width="167" alt="Screen Shot 2021-03-16 at 5 04 26 PM" src="https://user-images.githubusercontent.com/34517166/111391230-c

[2021-03-17 00:30] 55Cancri commented on #341
@davidhu2000 tried using the latest version and adding `display:inherit` but the component is still broken and does not show.

[2021-03-21 21:00] davidhu2000 commented on #111
Ok. all speed multiplier props are published to `0.11.0-alpha.8`.

You can also play with it on the demo site by adding a URL param

http://www.davidhu.io/react-spinners/?speed-multiplier=true

[2021-03-21 22:08] benji-meldcx commented on #111
Amazing! Thank you so much for adding this feature @davidhu2000 ❤️

[2021-04-03 19:41] YEK-PLUS commented on #387
can you share your parent component with css?

[2021-04-08 22:09] Samuel-Montoya commented on #387
[code]

[2021-04-13 22:31] YEK-PLUS commented on #387
@Samuel-Montoya try [this](https://codesandbox.io/s/react-spinners387-jtx1i?file=/src/App.js)

[code]

[2021-04-27 18:14] abcFearey commented on #53
@krlmazanik Thanks a lot!

[2021-04-27 21:14] Samuel-Montoya commented on #387
Hmm, No luck.. It seems to be spinning with the outer circle. Maybe it's because I have it nested in a `<button>` tag?

<img width="333" alt="Screen Shot 2021-04-27 at 3 12 27 PM" src="https://user-images.githubusercontent.com/34517166/116313496-13c5c700-a76b-11eb-8a63-739a7b27afd4.png">
<img width="318" alt="Screen Shot 2021-04-27 at 3 12 33 PM" src="https://user-images.githubusercontent.com/3451

[2021-04-28 18:10] ckeeney commented on #341
Can someone provide a complete example of how to render the `BarLoader` component?

This code does not work.
[code]

[2021-05-03 04:33] KoushikMVN opened #413 "How to solve EmotionCssPropInternal unique "key" prop issue"
Hi! i am using `GridLoader` in next js , but i get a error of ```Each child in a list should have a unique "key" prop``` warning

[code]
 i am using this code to load Gridloader but i face

[code]

this warning, how can i solve it ?

[2021-05-05 02:19] hkar19 commented on #387
i find it is weird that if i put the moonloader in a flexbox, the moonloader rotates with the center in the white part of the moonloader

such as

[code]

[2021-05-21 15:56] davidhu2000 commented on #111
This has been released as `v0.11`

[2021-05-21 15:56] #111 closed

[2021-05-29 08:35] tonydehnke opened #425 "Upgrade to 0.11 fails - Module not found: Error: Can't resolve '@emotion/core'"
**Describe the bug**
(Newbie here)

When dependabot ran today - it tried to upgrade react-spinners from 0.10.6 to 0.11.0.

CI testing failed with an error:  Module not found: Error: Can't resolve '@emotion/core'

I googled it and found this in another repo:  https://github.com/projectstorm/react-diagrams/issues/783

_"Apparently in Emotion 11, @emotion/core was renamed to @emotion/react,"_

It see

[2021-06-02 15:14] gabrielbahniuk opened #430 "[Question] How to use react-spinners/BarLoader as externals in webpack?"
Hi,

I am trying to use react-spinners version 0.11.0 with React and for the Prod html template I load it:
[code]

Then in my webpack.prod.js I have:

[code]

I import it like this in my code:

`import { BarLoader } from 'react-spinners'`

However I get the following errors:

[code]

Is there a working version in a CDN? I could not find a /dist folder.

If not, would that be possible to create it?

[2021-06-22 20:32] Nate-Wessel commented on #341
I just spent half an hour running in circles until I found this issue. The first time I used this loader, I added `display: inline-block;` explicitly and it worked perfectly. The second time, I copied that code, removing the unneeded CSS. Couldn't figure out for the life of my why it wasn't displaying with nothing else changed.

[2021-07-05 01:28] AwolDes commented on #430
I'm also getting this error. When compiling with webpack it's working fine, but as soon as I try and load a spinner I get this error

[code]

It might be linked to https://github.com/emotion-js/emotion/issues/2041?

[2021-07-05 01:29] AwolDes commented on #425
Getting a similar problem with react 17& v0.11 of spinners - https://github.com/davidhu2000/react-spinners/issues/430#issuecomment-873717462

[2021-07-05 15:06] davidhu2000 commented on #425
hmm, that's strange, I don't see any reference to `@emtion/core` in this codebase. are you able to share some more code to help reproduce?

[2021-07-05 15:14] davidhu2000 commented on #425
the PR to rename to @emotion/react https://github.com/davidhu2000/react-spinners/pull/329/files

[2021-07-05 15:23] davidhu2000 commented on #430
this isn't something i've tested. but i found this comment in another repo. https://github.com/system-ui/theme-ui/issues/1160#issuecomment-683830024

does that solve your issue?

[2021-07-05 15:27] davidhu2000 commented on #413
hmm, i just ran `npx create-next-app` and imported GridLoader, and not seeing the issue. Can you provide more code to help reproduce?

[2021-07-05 15:33] davidhu2000 commented on #386
I'm not able to reproduce via the demo site. Can you show me what the css looks like? I wonder if the css is inheriting something from the parent

[2021-07-05 15:37] davidhu2000 commented on #387
can you share all the relevant computed CSS and your jsx used to render? I'm not really seeing the issue.

[2021-07-05 15:46] GuillaumeDesforges commented on #386
Sorry, I'm not on this projet anymore, and don't have the code anymore :/

[2021-07-05 19:30] davidhu2000 commented on #386
i'll just close this issue for now and we can reopen with other reports.

[2021-07-06 02:26] hkar19 commented on #387
this is [sandbox](https://codesandbox.io/s/nostalgic-moon-35ws5?file=/src/App.js) for my issue

[2021-07-07 14:12] YEK-PLUS commented on #387
@hkar19
add `textAlign: "left"` to line 17
this is [sandbox](https://codesandbox.io/s/red-cookies-ekclh?file=/src/App.js)

[2021-07-07 14:46] hkar19 commented on #387
Right! That could be a workaround id your `MoonLoader` does not rotate

[2021-07-11 01:38] twschiller commented on #386
@davidhu2000 Thanks for your work on the library!

We have the same issue with the GridLoader as was originally reported, and reverting to 0.9.0 fixes the problem. We'll report back with anything we find that might be the cause

Could you re-open in the meantime?

https://github.com/pixiebrix/pixiebrix-extension/issues/755

[2021-07-14 08:11] gabrielbahniuk commented on #430
Hi @AwolDes, I think we have different problems.

Mine is regarding using the BarLoader as externals in webpack and adding it into an template.prod.html file. This gives me a different error output from your.

Are you sure they are related somehow?

[2021-08-11 14:46] maxizhukov opened #445 "Error while running test"
**Describe the bug**
I have a Syntax error while running test in repository, my test files are empty and only initial test file from CRA
But I get this error:

SyntaxError: /opt/atlassian/pipelines/agent/build/node_modules/react-spinners/PropagateLoader.js: pragma and pragmaFrag cannot be set when runtime is automatic.

        | ^
      2 | var __makeTemplateObject = (this && this.__makeTemplateO

[2021-08-16 19:35] esetnik commented on #445
I have the same issue. I believe we need to add

[code]

to the top of the source files

[2021-08-16 19:37] esetnik commented on #445
I believe it's also related to https://github.com/davidhu2000/react-spinners/issues/430

[2021-09-25 14:48] davidhu2000 commented on #430
@gabrielbahniuk i published a new alpha version. try using externals with this url?

[code]

[2021-09-25 14:57] davidhu2000 commented on #430
<img width="407" alt="Screen Shot 2021-09-25 at 10 57 13 AM" src="https://user-images.githubusercontent.com/15827041/134775878-8d59e31b-00ee-4850-b036-c33b78c9c9a6.png">

seems like we get a different error now.

[2021-09-26 19:10] davidhu2000 commented on #430
so based on what i've worked through, while this is techincally possible, I personally would not recommend doing this. The main issue being: the loaders in this require react to run, so i'd have to bundle react as well.

I pushed a code change to fix tree shaking

https://bundlephobia.com/package/react-spinners@0.12.0-alpha.1

so your final bundle will only include the loader you imported. (each l

[2021-10-06 14:31] #430 closed

[2021-10-20 15:01] GRMCosta commented on #36
Put display: flex works for my. Example:

`import MoonLoader from "react-spinners/MoonLoader";
import { css } from "@emotion/react";

const override = css`
  display: flex;
  margin: 0 auto;
  border-color: red;
`;

export function Loading() {
    return (
            <MoonLoader color={"#000"} css={override} size={50} />
    )
}`

[2021-10-24 14:31] Seth10001 opened #454 "Conflicting @types/jest version"
**Describe the bug**

After cloning the project and installing the npm modules I get an error because `@emotion/jest` has a dev dependency `@types/jest` that conflicts with this project's `@types/jest` version. See the full error below

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. git clone https://github.com/davidhu2000/react-spinners.git
2. npm install

**Update 1**

node versio

[2021-10-24 16:41] Seth10001 opened #455 "Tests failing because called `mount()` without a global document"
**Describe the bug**
The tests are currently failing on master with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. npm run jest

[2021-10-27 19:17] Fosol opened #457 "Can't Install Package"
`npm install react-spinner` fail to find the package

Error = `Not Found - GET https://registry.npmjs.org/@types%2freact-spinners - Not found`

`yarn add react-spinner` fail to find the package.

Error = `An unexpected error occurred: "https://registry.yarnpkg.com/@types%2freact-spinners: Not found`

**To Reproduce**
Steps to reproduce the behavior:

Node Version: v16.10.0
NPM Version: 7.24.0
Yarn

[2021-10-31 17:02] davidhu2000 commented on #457
looks like you have a typo in the install?

[code]

also, this package supply it's own types so no need to install @type package

[2021-11-29 08:12] sn4f commented on #208
+1 bump

[2021-12-11 03:02] QuinnFreedman opened #458 "Current npm version (0.11.0) fails with react-scripts 4.0"
0.11.0 worked fine with `create-react-app` `3.x.x`, but after bumping to `4.0`, it no longer compiles. I get the following error:

[code]

Luckily, it seems like as of #5e23db4 master **does** work. But, I can't install directly from GitHub. Doing something like:

[code]
just clones the whole repo into my `node_modules` so the compiler can't find `index.js` when I try to import.

Is it possible to

[2021-12-15 21:46] crazytoucan commented on #458
Is the relevant commit https://github.com/davidhu2000/react-spinners/pull/451? It would be great to get a release for this! 💛

[2021-12-16 06:17] QuinnFreedman commented on #458
@crazytoucan it seems like #451 is the most likely commit or maybe ed0714b5ce48549d4b90c9c71bbe60a4bbbcbfed . Either way, I know HEAD works.

---
**Workaround:** Until this fix is pushed to NPM, you can add `"react-spinners": "github:davidhu2000/react-spinners#5e23db437cc31170a646103a3fe81b9ae5e2a080"` to your `package.json` (which just clones the repo into your `node_modules` but doesn't set it u

[2021-12-23 06:52] nidhi99verma opened #459 "PropagateLoader is not showing any loader animation"
**Describe the bug**
PropagateLoader is not showing any loader animation.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to IDE install react-spinners
2. Import PropagateLoader
3. Check on the terminal, it is not showing any error but on the browser, it is not showing any loader

**Expected behavior**
It should show PropagateLoader, which is showing on https://www.davidhu.io/react-spinn

[2022-01-06 13:29] FlorianBurgevin commented on #445
Hello.
It's OK for me with this version

[2022-02-25 23:09] sguillia opened #460 "react-spinners does not compile when being hoisted"
**Describe the bug**
Demo code doesn't build when react-spinners lives in a node_modules higher up in the tree

Example tree

[code]

This tree is a standard tree when using [yarn workspaces](https://classic.yarnpkg.com/lang/en/docs/workspaces/)
This tree respects the node module resolution algorithm

**To Reproduce**
Steps to reproduce the behavior:

1. cd /tmp
2. npx create-react-app my-app --te

[2022-03-13 12:32] AkshayMathurr commented on #459
Hi @nidhi99verma
Can you elaborate and put the entire code as to why is it causing the loader not to be displayed for you?
I have tried using the `PropagateLoader` and it is being displayed for me.

[2022-03-25 17:18] cporras-vaova opened #461 "Conflict with emotion_react and MUI v5"
Uncaught SyntaxError: The requested module '/node_modules/.vite/@emotion_react.js?v=14b573f9' does not provide an export named 'default'

[2022-03-29 20:12] nikeee opened #463 "Support React 18"
React 18 released:
https://github.com/facebook/react/releases/tag/v18.0.0

Is this library compatible with React 18 despite the warning that's currently printed when installing react-spinners?

[2022-04-08 21:53] keithfrazier98 commented on #387
I just came across the same issue with the moon loader with this code:

[code]

I was able to fix it by rendering the Moonloader alone without inhibiting its container, and just adding styling to the test on the left of it:

[code]

Which seems like the better way to have coded that in the first place.

[2022-04-09 22:43] RubenVerster commented on #463
Just install it like this for now please
npm install --save react-spinners --legacy-peer-deps

[2022-04-10 01:38] nikeee commented on #463
Yes, that might work. However, as seen in your instructions, `--legacy-peer-deps` uses a legacy mode, which should be avoided.
Fixing this upstream would be appropriate.

There is a PR for upgrading the dependency: #464

[2022-04-25 03:08] ellen-localley opened #465 "warning: You are loading @emotion/react when it is already loaded."
Hi,
I'm already using emotion in my app. This warning has appeared when the module was installed and runned.

_You are loading @emotion/react when it is already loaded. Running multiple instances may cause problems. This can happen if multiple versions are used, or if multiple builds of the same version are used._ emotion-react.browser.esm.js:353
  _./node_modules/react-spinners/node_modules/@emot

[2022-05-03 03:43] davidhu2000 commented on #463
try 0.12.0-alpha.3 and see if the issue is resolved

[2022-05-03 03:44] davidhu2000 commented on #465
i think i need to move emotion to peerDeps instead of deps

[2022-05-03 03:46] davidhu2000 commented on #459
this is working for me too.

[2022-05-03 03:47] davidhu2000 commented on #461
can you provide more details on how to reproduce this?

[2022-05-03 03:48] davidhu2000 commented on #458
0.12 should fix this. doing a little more testing then publishing it

[2022-05-03 04:00] davidhu2000 commented on #463
oof, this might be more compcliated than expected given enzyme doesn't have an adapter for react 18

[2022-05-03 04:02] davidhu2000 commented on #455
probably need to get rid of enzyme and replace with RTL

[2022-05-03 09:33] RubenVerster commented on #463
I know man... but this is the current fix for the issue right now
Once the PR has been merged in, they will come and tell us that the issue has an official fix :P

[2022-05-14 20:43] aperalta1431 commented on #463
I appreciate the above solution but it should be avoided. Besides the above solution involves making changes to the pipeline to support such legacy mode if we still want to proceed with it which is not suitable in an enterprise setting. Nonetheless, the library is a time saver and I will be waiting for an update on this.

[2022-05-15 13:41] Ali-Aref commented on #463
any updates ?

[2022-05-16 01:09] davidhu2000 commented on #465
altho that can cause issues with existing users. Need to think of a way to get rid of emotion as a dependency

[2022-05-16 01:17] davidhu2000 commented on #463
v0.12.0 is released with this fix.

[2022-05-16 01:17] #463 closed

[2022-05-16 02:05] davidhu2000 commented on #208
this seems to be the most viable solution https://stackoverflow.com/a/71102920/6496010, but it'll require a ton of rewrites.

[2022-05-16 02:12] davidhu2000 opened #472 "Replace enzyme with react testing library"
- [x] BarLoader
- [x] BeatLoader
- [x] BounceLoader
- [x] CircleLoader
- [ ] ClimbingBoxLoader
- [ ] ClipLoader
- [ ] ClockLoader
- [ ] DotLoader
- [ ] FadeLoader
- [ ] GridLoader
- [ ] HashLoader
- [ ] MoonLoader
- [ ] PacmanLoader
- [ ] PropagateLoader
- [ ] PuffLoader
- [ ] PulseLoader
- [ ] RingLoader
- [ ] RiseLoader
- [ ] RotateLoader
- [ ] ScaleLoader
- [ ] SkewLoader
- [ ] SquareLoader
- [

[2022-05-16 02:13] davidhu2000 commented on #465
going to merge this with #208

[2022-05-16 02:13] #465 closed

[2022-05-16 04:30] davidhu2000 opened #474 "Remove emotion usage & convert to functional component, switch to RTL"
- [x] BarLoader
- [x] BeatLoader
- [x] BounceLoader
- [x] CircleLoader
- [x] ClimbingBoxLoader
- [x] ClipLoader
- [x] ClockLoader
- [x] DotLoader
- [x] FadeLoader
- [x] GridLoader
- [x] HashLoader
- [x] MoonLoader
- [x] PacmanLoader
- [x] PropagateLoader
- [x] PuffLoader
- [x] PulseLoader
- [x] RingLoader
- [x] RiseLoader
- [x] RotateLoader
- [x] ScaleLoader
- [x] SkewLoader
- [x] SquareLoader
- [

[2022-05-16 05:24] davidhu2000 commented on #208
ok, published alpha version for `BarLoader` without emotion, give it a try. `v0.13.0-alpha.1`

one note: you'd need to add

[code]

to have it show up properly. will be fixed later

[2022-05-16 14:26] #445 closed

[2022-05-16 14:33] davidhu2000 commented on #455
closing this in favor of #472

[2022-05-16 14:33] #455 closed

[2022-05-16 14:40] #461 closed

[2022-05-16 14:40] #457 closed

[2022-05-16 14:53] davidhu2000 commented on #425
this issue should be resolved in 0.13.0 as emotion is getting removed, see #208 and #474 for more details

[2022-05-16 14:53] #425 closed

[2022-05-16 15:08] davidhu2000 commented on #208
https://bundlephobia.com/package/react-spinners@0.13.0-alpha.3
<img width="328" alt="Screen Shot 2022-05-16 at 8 07 01 AM" src="https://user-images.githubusercontent.com/15827041/168624470-faa3e2b9-3bc0-4ff6-a93f-b1696a4efa38.png">

https://bundlephobia.com/package/react-spinners@0.12.0
<img width="320" alt="Screen Shot 2022-05-16 at 8 07 08 AM" src="https://user-images.githubusercontent.com/15827

[2022-05-16 15:08] davidhu2000 commented on #208
https://bundlephobia.com/package/react-spinners@0.13.0-alpha.3
<img width="328" alt="Screen Shot 2022-05-16 at 8 07 01 AM" src="https://user-images.githubusercontent.com/15827041/168624470-faa3e2b9-3bc0-4ff6-a93f-b1696a4efa38.png">

https://bundlephobia.com/package/react-spinners@0.12.0
<img width="320" alt="Screen Shot 2022-05-16 at 8 07 08 AM" src="https://user-images.githubusercontent.com/15827

[2022-05-17 16:50] QuinnFreedman commented on #458
Looks like this is fixed for me (as of `0.12.0-alpha.3`)

[2022-05-21 21:59] davidhu2000 commented on #472
merging this with #474

[2022-05-21 21:59] #472 closed

[2022-05-22 20:44] #474 closed

[2022-05-22 21:21] #459 closed

[2022-05-22 21:46] davidhu2000 commented on #208
ok, this is published as `0.13.0-alpha.5`.

[2022-05-22 21:47] davidhu2000 commented on #454
emotion has been removed, so this issue should be resolved in 0.13.0-alpha.4

[2022-05-22 21:47] #454 closed

[2022-05-22 21:51] davidhu2000 commented on #208
going to close this real for now, please let me know if there are issues. hopefully release 0.13 by next week

[2022-05-22 21:51] #208 closed

[2022-05-22 21:52] davidhu2000 commented on #353
this is supported in 0.13.0-alpha.4

[2022-05-22 21:52] #353 closed

[2022-05-22 21:54] davidhu2000 commented on #386
[code]

@twschiller I tried to reproduce but couldn't. this is a copy/paste the Loader implementation.

I am able to reproduce by adding a with override like

[code]

can ou check the css and see if that happens? did the default width get overwritten?

[2022-05-22 21:55] davidhu2000 commented on #341
should be fixed as part of 0.13.0-alpha.4

[2022-05-22 21:55] #341 closed

[2022-05-22 21:56] davidhu2000 commented on #207
can you check if this still happens in the latest version? going to close for now

[2022-05-22 21:56] #207 closed

[2022-05-22 22:03] davidhu2000 commented on #386
@twschiller can you try `0.13.0-alpha.5` and see if that resolves your issue?

[2022-05-22 22:06] davidhu2000 commented on #293
i think this issue should be resolved since emotion is removed. please reopen if it still doesn't work.

[2022-05-22 22:06] #293 closed

[2022-05-22 22:07] davidhu2000 commented on #413
this issue should be resolved since emotion is removed

[2022-05-22 22:07] #413 closed

[2022-05-22 22:07] davidhu2000 commented on #282
i'm seeing the demo site still centered at 100. going to close this for now

[2022-05-22 22:07] #282 closed

[2022-05-22 22:08] davidhu2000 commented on #387
sounds like we have a implementation, so going to close this for now

[2022-05-22 22:08] #387 closed

[2022-05-22 22:09] davidhu2000 commented on #61
this issue should be fixed in 0.13.0-alpha.5, so closing this for now. feel free to reopen if there are issues

[2022-05-22 22:09] #61 closed

[2022-05-22 22:10] davidhu2000 commented on #113
this issue seems related to local setup. so going to close this.

[2022-05-22 22:10] #113 closed

[2022-05-22 22:17] davidhu2000 commented on #460
@sguillia i tried to reproduce using the latest version. maybe 0.12.0 resolved this issue. can you check?

[2022-05-23 08:27] bearsworth opened #516 "Allow for React 18 >"
**Is your feature request related to a problem? Please describe.**
I believe this package won't work for React 18 and greater. Here is the issue:

npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.0.0 || ^17.0.0" from react-spinners@0.11.0
npm ERR! node_modules/react-spinners
npm ERR!   react-spinners@"^0.11.0" from the root project

**Describe the solution you'd like**
If possible,

[2022-05-23 08:31] #516 closed

[2022-05-23 08:32] bearsworth commented on #516
I have used --legacy-peer-deps which seems to work.

[2022-05-23 09:22] fregante commented on #386
I tried updating from 0.9.0 and the loader is completely broken/hidden:

<img width="1189" alt="Screen Shot 17" src="https://user-images.githubusercontent.com/1402241/169743417-28fdfbf4-6e27-4392-b4e7-7deee948aa4b.png">

It should look like this:

<img width="863" alt="Screen Shot 18" src="https://user-images.githubusercontent.com/1402241/169743505-f2d09793-cdb1-4adf-bcdd-603abeafc05c.png">

I don

[2022-05-23 16:13] davidhu2000 commented on #516
@bearsworth please update to 0.12.0 which includes react 18 support

[2022-05-23 22:47] bearsworth commented on #516
@davidhu2000 Thanks for that and thanks for this awesome package man.

[2022-05-26 05:22] davidhu2000 commented on #386
turns out you can't do inline style with `important` tag :)

[2022-05-26 05:44] davidhu2000 commented on #386
@twschiller @GuillaumeDesforges can you try on `0.13.0-beta.3`? i think i fixed the issue.

[2022-05-26 06:30] davidhu2000 commented on #386
Meant to tag @fregante :). Please give 0.13.0-beta.3 a try and see if it works

[2022-05-27 15:36] fregante commented on #386
I think it's finally working, but I'm getting this TypeScript error in your latest beta.It's probably because I'm on React 17 and am using its types.

[code]

[2022-05-30 12:31] ioanlucut opened #522 "SSR issue"
Hey!

Thanks a lot for this lib and for implementing the feature I've requested for a long time (in alpha now).

I have a different issue now: since we use SSR, this [bit](https://github.com/davidhu2000/react-spinners/blob/main/src/PulseLoader.tsx#L7-L11) is called [asap](https://github.com/davidhu2000/react-spinners/blob/main/src/helpers/animation.ts#L2).

Can we defer it to the client-side only?

[2022-06-03 05:51] davidhu2000 commented on #386
Hmm, that look more like @emotion error? Maybe I need to rename the css prop to styleOverride or something. See if that helps

[2022-06-03 05:52] davidhu2000 commented on #522
Does the code run on server side? Mt understanding is that document does not exist server side?

I'm not 100% on how to figure out server vs client side tho

[2022-06-05 00:45] davidhu2000 commented on #522
i was able to reproduce this using nextjs, is this similar to the issue you have?

<img width="490" alt="Screen Shot 2022-06-04 at 5 45 31 PM" src="https://user-images.githubusercontent.com/15827041/172030269-04cc0cdc-0bdf-4a29-b6c9-fbebd681f56b.png">

[2022-06-05 01:06] davidhu2000 commented on #386
seems related to https://github.com/emotion-js/emotion/issues/1800?

[2022-06-05 01:09] davidhu2000 commented on #522
@ioanlucut can you give `0.13.0-beta.4` a try?

[2022-06-05 01:11] davidhu2000 commented on #522
<img width="144" alt="Screen Shot 2022-06-04 at 6 10 47 PM" src="https://user-images.githubusercontent.com/15827041/172030757-57b50385-a7eb-4d6b-bea8-9ea445d3cb83.png">
<img width="122" alt="Screen Shot 2022-06-04 at 6 10 57 PM" src="https://user-images.githubusercontent.com/15827041/172030758-fdaeb794-7ff4-4442-aa7e-c4e28da04b91.png">

tested via NextJS, with js off and on, seems like it's workin

[2022-06-05 01:21] davidhu2000 commented on #460
@sguillia i'm not sure how, but this seems fixed on 0.13.0-beta.4. mind giving that a try?

I did reproduce this issue on 0.12.0, and then tried again on 0.13 and it worked.

i see this on 0.13
<img width="610" alt="Screen Shot 2022-06-04 at 6 20 09 PM" src="https://user-images.githubusercontent.com/15827041/172030929-58ac1e92-fb63-4f79-a4ff-a01e37d4d09b.png">

vs 0.12
<img width="660" alt="Screen

[2022-06-05 14:15] ioanlucut commented on #522
Thanks a lot!

[2022-06-06 06:35] #522 closed

[2022-06-06 11:08] twschiller commented on #386
We include react-select in our project, which depends on emotion for styling:
[code]

Will have to track down which emotion release the fix for https://github.com/emotion-js/emotion/issues/1800 would have been rolled into

[2022-06-06 15:30] davidhu2000 commented on #386
Let me know what you find. Given the number of projects using emotion, I'm tempted to rename the prop to avoid conflicts.

[2022-06-07 05:12] davidhu2000 commented on #386
decided that renaming the prop made sense. it was only called `css` to match `emotion`. and now that emotion is removed, css might just cause confusion. https://github.com/davidhu2000/react-spinners/pull/524

@twschiller  want to give `0.13.0-beta.5` a shot and see if the type issue is resolved?

[2022-06-07 12:38] twschiller commented on #386
@davidhu2000 Thanks! It's working but the grid loader animation is a bit jumpy (not smooth) compared to `0.9.0`. Any ideas what might cause that? Will post a video later today

[2022-06-07 17:43] davidhu2000 commented on #386
Yeah a video will be helpful. Given this is a total rewrite of the component, wouldn't be surprised if I missed a thing or two

[2022-06-08 04:19] davidhu2000 commented on #386
so comparing the code before
https://github.com/davidhu2000/react-spinners/blob/aee6124bcf6a603983d8eafbe334c97ad32d8bd2/src/GridLoader.tsx

vs  current

https://github.com/davidhu2000/react-spinners/blob/main/src/GridLoader.tsx
nothing is jumping out at me that could suggest the choppiness.

altho the animation is based on a random number, maybe sometimes it looks choppy and ok other times?

[2022-06-17 08:50] sguillia commented on #460
@davidhu2000 It works with 0.13.0-beta.4. Thank you!

[2022-06-17 08:50] #460 closed

[2022-06-17 17:58] twschiller commented on #386
Apologies for the delay, we were in crunch on a release the past couple weeks. Here's a Loom of the issue: https://www.loom.com/share/553454bd82fc471f8ecbd81b6a905b09

If I just throw it into Storybook, I don't see the jumpiness. So I think it has to do with re-renders/remounts. We might have to memoize the component. (The jumpiness is probably on our side)

With the `0.13.0-beta.5` we're still [h

[2022-06-25 22:07] davidhu2000 commented on #386
actually i see that on my side in storybook as well. Will see what i can figure out

[2022-06-25 22:12] davidhu2000 commented on #386
looks like adding `display: 'inline-block'` resolves the issue for me. @twschiller , Can you try beta.6 and see if it works?

[2022-06-27 02:23] twschiller commented on #386
@davidhu2000 Thanks, looks like this version fixes the line break problem

[2022-06-27 03:58] #386 closed

[2022-06-29 21:10] sgehrman opened #528 "PuffLoader broken"
"react-spinners": "^0.13.2",

Puffloader has a thick border for the first animation loop, then gets thin

It worked fine in this version:
    "react-spinners": "^0.12.0",

I just updated packages and noticed the bug. I reverted back to .12.

[2022-06-29 21:24] sgehrman opened #529 "PuffLoader has zero size"
I'm on .12 but I think the latest has the same issue.

[code]

The spinner is wrapped in a span and has zero height/width and draws outside it's bounds.
If I change the span to a div it works.

[2022-06-29 21:44] sgehrman commented on #528
bug appears on this page too https://www.davidhu.io/react-spinners/

[2022-07-01 05:36] davidhu2000 commented on #529
https://github.com/davidhu2000/react-spinners/blob/c54d1a5f93429c7c921710801d06de0b9a5cf446/src/PuffLoader.tsx#L20-L21

the display property inherits from the parent, so if you wrap this in a span, it'll act like the span.

I don't think this is a real issue as this is by design.

[2022-07-01 05:46] #528 closed

[2022-07-01 05:47] davidhu2000 commented on #528
this is fixed in 0.13.3

[2022-07-26 06:14] liby opened #531 "Prop `style` did not match"
**Package Version**
`0.13.3`

**Describe the bug**

When used with Next.js, the console sees the following error:

**To Reproduce**
1. Clone this [repo](https://github.com/liby/neptune/tree/feature/show-loading-state)
2. `git switch feature/show-loading-state`
3. `pnpm install`
4. `pnpm dev`

**Expected behavior**

No error.

**Screenshots**

<img width="1915" alt="image" src="https://user-images.

[2022-07-26 06:32] #529 closed

[2022-07-30 04:28] davidhu2000 commented on #531
@liby can you try 0.13.4 and see if the issue is fixed?

[2022-07-30 04:46] liby commented on #531
It works. Thanks.

[2022-07-30 04:46] #531 closed

[2022-10-31 21:29] xdubx opened #548 "Feature request: Support React Native"
**Is your feature request related to a problem? Please describe.**
I try to use the spinners in my react native project but it don't work :O

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-11-01 02:39] davidhu2000 commented on #548
I've been thinking about this, but I'm not sure how to go about it yet.

https://necolas.github.io/react-native-web/docs/view/ potentially looks like a viable option. But will need to investigate deeper into how to accomplish it.

React and react-native do have different APIs, so not everything will be compatible like how animations are handled

React uses CSS animation property, whereas React nat

[2022-11-01 03:51] davidhu2000 commented on #548
everything i've seen seems to be building something for `react-native` then using `react-native-web` to make it work for the web. If that's the only way, then the library would need to be rewritten to work for react-native.

[2022-11-01 11:05] xdubx commented on #548
Sounds like a bunch of work.

[2022-11-01 15:00] bsgriggs opened #550 "Pacman Loader overlaps with other content"
**Package Version 0.13.6**

**Describe the bug**
I have a caption that is supposed to be rendered underneath the pacman loader, but the pacman's head overlaps with nearby content;

**To Reproduce**
JSX similar to the following
`            <div id={name} className="mx-spinner">
                    <PacmanLoader
                        aria-label="Loading Pacman Spinner"
                        col

[2022-11-01 15:14] bsgriggs commented on #550
Same thing with Rotate, Propagate, and Sync